---
layout: page
title: Full Song Lessons (by title) - Learn to play guitar like your favorite artists, with step by step song lessons - Song Notes by David Pots
permalink: /songs/by-title
---

{% assign song_lessons = site.lessons | where: "category","full_song" %}

<h1>Song Lessons</h1>
<p class="large">Here's a list of the <strong>{{ song_lessons.size }}</strong> song lessons I've made on <a href="https://youtube.com/playsongnotes">my YouTube channel</a>. I typically add one song lesson per week. Want to request a song lesson? <a href="/contact">Email me</a> and let me know!</p>

<br />
<p class="tabs_may2021">
  <a href="/songs">Recently Added</a> <a href="/songs/most-popular">Most Popular</a> <a href="/songs/beginner">Beginner-Friendly</a> <a href="/songs/by-artist">by Artist</a> <a class="active" href="/songs/by-title">by Song Title</a> <a href="/songs/by-year">by Song Year</a>
</p>


{% assign numbers = "0123456789" | split: "" %}
{% assign alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | split: "" %}
{% assign all_songs = site.lessons | where: "category", "full_song" | sort: "name" %}

<div class="multi_column_list">
  <h3>0-9</h3>
  <ul>
    {% for song in all_songs %}
      {% assign first_letter = song.song_title | slice: 0 %}
      {% if first_letter == "0" or first_letter == "1" or first_letter == "2" or first_letter == "3" or first_letter == "4" or first_letter == "5" or first_letter == "6" or first_letter == "7" or first_letter == "8" or first_letter == "9" %}
        <li><a href="{{song.url}}" class="bold">{{song.song_title}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

{% for current_letter in alphabet %}
  <h3>{{current_letter}}</h3>
  <ul>
    {% for song in all_songs %}
      {% assign first_letter = song.song_title | slice: 0 %}
      {% if first_letter == current_letter %}
        <li><a href="{{song.url}}" class="bold">{{song.song_title}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}
</div>

<br />
<hr />
<p><strong>More song lessons:</strong>&nbsp;&nbsp;<a href="/songs">Recently Added</a> | <a href="/songs/most-popular">Most Popular</a> | <a href="/songs/beginner">Beginner-Friendly</a> | <a href="/songs/by-artist">by Artist</a> | <a href="/songs/by-title">by Song Title</a> | <a href="/songs/by-year">by Song Year</a></p>
