---
layout: page
title: Full Song Lessons - Learn to play guitar like your favorite artists, with step by step song lessons - Song Notes by David Pots
permalink: /songs/by-artist
---

{% assign song_lessons = site.lessons | where: "category","full_song" %}

<h1>Song Lessons</h1>
<p class="large">Here's a list of the <strong>{{ song_lessons.size }}</strong> song lessons I've made on <a href="https://youtube.com/playsongnotes">my YouTube channel</a>. I typically add one song lesson per week. Want to request a song lesson? <a href="/contact">Email me</a> and let me know!</p>

<br />
<p class="tabs_may2021">
  <a href="/songs">Recently Added</a> <a href="/songs/most-popular">Most Popular</a> <a href="/songs/beginner">Beginner-Friendly</a> <a class="active" href="/songs/by-artist">by Artist</a> <a href="/songs/by-title">by Song Title</a> <a href="/songs/by-year">by Song Year</a>
</p>


{% assign number_of_pdfs = 0 %}
{% assign songs_by_artist = site.lessons | where: "category", "full_song" | group_by: "artist" | sort: "name" %}

<div class="multi_column_list">
{% for artist in songs_by_artist %}
{% assign artist_count = 0 %}

{% for song in artist.items %}
  {% assign artist_count = artist_count | plus: 1 %}
{% endfor %}


{% if artist_count > 0 %}
  <h3 class="mbn">{{artist.name}}</h3>
  <ul>

  {% assign sorted_by_song_name = artist.items | sort: "song_title" %}
  {% for song in sorted_by_song_name %}
    <li><a href="{{song.url}}"><strong>{{song.song_title}}</strong></a></li>
  {% endfor %}


  </ul>
{% endif %}
{% endfor %}
</div>

<br />
<hr />
<p><strong>More song lessons:</strong>&nbsp;&nbsp;<a href="/songs">Recently Added</a> | <a href="/songs/most-popular">Most Popular</a> | <a href="/songs/beginner">Beginner-Friendly</a> | <a href="/songs/by-artist">by Artist</a> | <a href="/songs/by-title">by Song Title</a> | <a href="/songs/by-year">by Song Year</a></p>
