---
layout: page
title: Full Song Lessons (recently added) - Learn to play guitar like your favorite artists, with step by step song lessons - Song Notes by David Pots
permalink: /songs/recently-added
---

<h1>Video Lessons</h1>
<p>Here's a directory of all my 350+ video lessons, separated by category. You can also <a href="/search">search</a> if you're looking for something specific.</p>

<p class="tabs_may2021">
  <a href="/riffs">Quick Riffs</a> <a  href="/tips">Tips & Techniques</a> <a class="active" href="/songs/recently-added">Full Songs</a> <a  href="/practice">Practice Log</a>
</p>


<p class="tabs_may2021--secondary">
  <strong>Sort by:</strong> <a class="active" href="/songs/recently-added">Recently Added</a> <a href="/songs/">Artist</a> <a href="/songs/by-title">Title</a> <a href="/songs/by-year">Release Date</a>
</p>





{% comment %}
  # ======================================================
  # Figure out number of the latest lesson: latest_lesson_number
  # ======================================================
{% endcomment %}
{% for i in (1..1000) reversed %}
  {% assign song = site.lessons | where: 'slug', i %}
  {% if song[0] %}
    {% assign latest_lesson_number = song[0].slug %}
    {% break %}
  {% endif %}
{% endfor %}


<ul class="listing_may2021">
{% for l in (1..latest_lesson_number) reversed %}
  {% assign song = site.lessons | where: 'slug', l %}
  {% if song[0].yt_video_id and song[0].category == "full_song" %}
    <li>
      <div class="listing_may2021--thumbnail" style="background-image: url('http://img.youtube.com/vi/{{song[0].yt_video_id}}/mqdefault.jpg');"></div>
      <h3 class="listing_may2021--title"><a href="{{ song[0].url | relative_url }}">{{ song[0].title }}</a></h3>
      {% if song[0].pdf_version and song[0].pdf_version == "musicnotes" %}
        <p class="listing_may2021--pdf pdf--musicnotes"><a href="{{ song[0].url | relative_url }}">Sheet Music Available</a></p>
      {% endif %}
      <p class="listing_may2021--meta">Lesson #{{ song[0].slug}}</p>
    </li>
  {% endif %}

{% endfor %}
</ul>
