---
layout: page
title: Quick Riffs - Short, bite-sized guitar exercises to jump right in and play - Song Notes by David Pots
permalink: /riffs/
redirect_from:
  - /warmup/
---

<h1>Video Lessons</h1>
<p>Here's a directory of all my 350+ video lessons, separated by category. You can also <a href="/search">search</a> if you're looking for something specific.</p>

<p class="tabs_may2021">
  <a class="active" href="/riffs">Quick Riffs</a> <a href="/tips">Tips & Techniques</a> <a href="/songs/recently-added">Full Songs</a> <a  href="/practice">Practice Log</a>
</p>


  <ul class="listing_may2021">
    {% assign lessons = site.lessons | where: "category","warmup" | sort: 'date_published' %}
    {% for l in lessons reversed %}
      <li>
        <div class="listing_may2021--thumbnail" style="background-image: url('http://img.youtube.com/vi/{{l.yt_video_id}}/mqdefault.jpg');"></div>
        <h3 class="listing_may2021--title"><a href="{{ l.url | relative_url }}">{{ l.title }}</a></h3>

        {% if l.pdf_version and l.pdf_version != "copyright" %}
          <p class="listing_may2021--pdf"><a href="{{ l.url | relative_url }}">Patreon PDF</a></p>
        {% elsif l.pdf_version == "copyright" %}
          <p class="listing_may2021--pdf listing_may2021--pdf-copyright"><a href="{{ l.url | relative_url }}">PDF Currently Unavailable...</a></p>
        {% else %}
          <!-- <p class="listing_may2021--pdf listing_may2021--pdf-none"><a>No PDF</a></p> -->
        {% endif %}
        <p class="listing_may2021--meta">Lesson #{{ l.slug}}</p>
      </li>
    {% endfor %}
  </ul>



  <!-- <ul>
    <li><a class="underline" href="/warmup/3/"><strong>Warm Up #3 "Sultans of Swing" chorus lick</strong></a><br /><em>Sept 19, 2018</em></li>
    <li><a class="underline" href="/warmup/2/"><strong>Warm Up #2: Easy E Fingerpicking</strong></a><br /><em>Sept 3, 2018</em></li>
    <li><a class="underline" href="/warmup/1/"><strong>Warm Up #1: Simple blues riff in Drop-D</strong></a><br /><em>July 25, 2018</em></li>
  </ul> -->
  <p><a href="/">Back to the homepage &raquo;</a></p>
