---
layout: page
title: Full Song Lessons (recently added) - Learn to play guitar like your favorite artists, with step by step song lessons - Song Notes by David Pots
permalink: /songs
---

{% assign song_lessons = site.lessons | where: "category","full_song" %}

<h1>Song Lessons</h1>
<p class="large">Here's a list of the <strong>{{ song_lessons.size }}</strong> song lessons I've made on <a href="https://youtube.com/playsongnotes">my YouTube channel</a>. I typically add one song lesson per week. Want to request a song lesson? <a href="/contact">Email me</a> and let me know!</p>

<br />
<p class="tabs_may2021">
  <a class="active" href="/songs">Recently Added</a> <a href="/songs/most-popular">Most Popular</a> <a href="/songs/beginner">Beginner-Friendly</a> <a href="/songs/by-artist">by Artist</a> <a href="/songs/by-title">by Song Title</a> <a href="/songs/by-year">by Song Year</a>
</p>





{% comment %}
  # ======================================================
  # Figure out number of the latest lesson: latest_lesson_number
  # ======================================================
{% endcomment %}
{% for i in (1..1000) reversed %}
  {% assign song = site.lessons | where: 'slug', i %}
  {% if song[0] %}
    {% assign latest_lesson_number = song[0].slug %}
    {% break %}
  {% endif %}
{% endfor %}


<ul class="listing_may2021">
{% for l in (1..latest_lesson_number) reversed %}
  {% assign song = site.lessons | where: 'slug', l %}
  {% if song[0].yt_video_id and song[0].category == "full_song" %}
    <li>
      <a href="{{ song[0].url | relative_url }}"><div class="listing_may2021--thumbnail" style="background-image: url('http://img.youtube.com/vi/{{song[0].yt_video_id}}/mqdefault.jpg');"></div></a>
      <h3 class="listing_may2021--title"><a href="{{ song[0].url | relative_url }}">{{ song[0].song_title }}</a></h3>
      <p class="listing_may2021--meta">by {{song[0].artist}} {% if song[0].date_published %}• {{ song[0].date_published | date: '%b %-d, %Y' }}{% endif %}</p>
      {% if song[0].pdf_version and song[0].pdf_version == "musicnotes" %}
        <p class="listing_may2021--pdf pdf--musicnotes"><a href="{{ song[0].url | relative_url }}"><span class='pdf-icon'>$</span> Sheet Music</a></p>
      {% endif %}

    </li>
  {% endif %}

{% endfor %}
</ul>
