---
layout: default
title: FretMonster! Have fun with the guitar fretboard
---

{% include header-nav--desktop.html %}
{% include header-nav--mobile.html %}


    <!-- Stylesheets -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,800,700,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/fretmonster/css/i.css">

    <!-- Javascript -->
    <script src="/assets/fretmonster/javascript/jquery.js"></script>
    <script src="/assets/fretmonster/javascript/main.js"></script>
    <script src="/assets/fretmonster/javascript/interaction.js"></script>


    <div class="container">
      <h1 class="h1 caps fw-black italic mtxl mbs">FretMonster!</h1>
      <p class="small mbxl">Use &larr; and &rarr; arrows to change keys. <a style="color: blue; text-decoration: underline;" target="_blank" href="https://playsongnotes.com/lessons/363/">Watch this video overview</a> for an explanation of how to use this tool.</p>
      <p class="h3"><span class="mobile-block">I'm hungry for a</span> <span class="mobile-block"><a class="inline-block pam mvm rounded mhs orange border js-summonOverlay js-summonScalePicker" href="">penatonic minor</a></span> <span class="mobile-block">scale in the key of</span> <span class="mobile-block"><a class="keyChangePrev" href="#">«</a><a style="width: 60px; text-align: center;" class="inline-block mvm pvm orange border js-summonOverlay js-summonKeyPicker" href="">G</a><a class="keyChangeFwd" href="#">»</a></span></p>
      <p class="small js-instrumentSelector">
        <span class="small strong">Instrument:</span>&nbsp;&nbsp;<a data-instrument="guitar" class="phs pvxs inline-block active--toggle" href="">guitar</a>  |  <a data-instrument="guitar-openD" class="phs pvxs inline-block" href="">guitar (open D)</a> | <a data-instrument="guitar-openG" class="phs pvxs inline-block" href="">guitar (open G)</a>| <a data-instrument="cbg4-openG" class="phs pvxs inline-block" href="">cigar box guitar (4 string, open G)</a> | <a data-instrument="ukulele" class="phs pvxs inline-block" href="">ukulele</a> | <a data-instrument="bass" class="phs pvxs inline-block" href="">bass</a> | <a data-instrument="mandolin" class="phs pvxs inline-block" href="">mandolin</a>
      </p>
      <p class="small">
        <span class="small strong">Note Label:</span>&nbsp;&nbsp;<a class="phs pvxs inline-block showIntervals active--toggle" href="">scale degree</a> | <a class="phs pvxs inline-block showNotes" href="">note name</a> | <a class="phs pvxs inline-block showNoLabel" href="">none</a>
      </p>
      <p class="small">
        <span class="small strong">Highlight:</span>&nbsp;&nbsp;<a class="phs pvxs inline-block pas highlightRoot active--toggle" href="#">root (1)</a> | <a class="phs pvxs inline-block highlightTriads" href="">triads (1-3-5)</a> | <a class="phs pvxs inline-block highlightNone" href="">none</a>
      </p>

    </div>

    <div class="js-scalePicker has-scrollbars pal js-overlay bg-gray-light fixed js-fixed-center" style="display: none; overflow-y: scroll; z-index: 10; max-height: 400px; left: 50%; margin-left: -150px; box-sizing: border-box; top: 10%;">
      <div class="clearfix">
        <h3 class="left mtn">Pick a scale:</h3>
        <a class="right js-closeOverlay" href="#">close</a>
      </div>
      <ul class="list-reset js-scaleSelector">
        <li class="h3"><a class="block rounded pam" data-scale-name="major" href="#">Major</a></li>
        <li class="h3"><a class="block rounded pam" data-scale-name="major_flat7" href="#">Major + ♭7</a></li>
        <li class="h3"><a class="block rounded pam" data-scale-name="pentatonic_major" href="#">Pentatonic (major)</a></li>
        <li class="h3"><a class="block rounded pam" data-scale-name="pentatonic_minor" href="#">Pentatonic (minor)</a></li>
        <li class="h3"><a class="block rounded pam" data-scale-name="blues_major" href="#">Blues (major)</a></li>
        <li class="h3"><a class="block rounded pam" data-scale-name="blues_minor" href="#">Blues (minor)</a></li>
        <li class="h3"><a class="block rounded pam" data-scale-name="minor_melodic" href="#">Minor (melodic)</a></li>
        <li class="h3"><a class="block rounded pam" data-scale-name="minor_harmonic" href="#">Minor (harmonic)</a></li>
        <li class="h3"><a class="block rounded pam" data-scale-name="minor_natural" href="#">Minor (natural)</a></li>
        <li class="h3"><a class="block rounded pam" data-scale-name="ionian_mode" href="#">Ionian mode</a></li>
        <li class="h3"><a class="block rounded pam" data-scale-name="dorian_mode" href="#">Dorian mode</a></li>
        <li class="h3"><a class="block rounded pam" data-scale-name="phrygian_mode" href="#">Phyrgian mode</a></li>
        <li class="h3"><a class="block rounded pam" data-scale-name="lydian_mode" href="#">Lydian mode</a></li>
        <li class="h3"><a class="block rounded pam" data-scale-name="mixolydian_mode" href="#">Mixolydian mode</a></li>
        <li class="h3"><a class="block rounded pam" data-scale-name="aeolian_mode" href="#">Aeolian mode</a></li>
        <li class="h3"><a class="block rounded pam" data-scale-name="locrian_mode" href="#">Locrian mode</a></li>
      </ul>
    </div>

    <div class="js-keyPicker has-scrollbars pal js-overlay bg-gray-light fixed js-fixed-center" style="display: none; overflow-y: scroll; z-index: 10; max-height: 400px; left: 50%; margin-left: -150px; box-sizing: border-box; top: 10%;">
      <div class="clearfix">
        <h3 class="mtn left">Pick a key:</h3>
        <a class="right js-closeOverlay" href="#">close</a>
      </div>
      <ul class="list-reset js-keySelector">
        <li class="h3"><a class="block rounded pam" data-key-name="A" href="#">A</a></li>
        <li class="h3"><a class="block rounded pam" data-key-name="A#" href="#">A#</a></li>
        <li class="h3"><a class="block rounded pam" data-key-name="B" href="#">B</a></li>
        <li class="h3"><a class="block rounded pam" data-key-name="C" href="#">C</a></li>
        <li class="h3"><a class="block rounded pam" data-key-name="C#" href="#">C#</a></li>
        <li class="h3"><a class="block rounded pam" data-key-name="D" href="#">D</a></li>
        <li class="h3"><a class="block rounded pam" data-key-name="D#" href="#">D#</a></li>
        <li class="h3"><a class="block rounded pam" data-key-name="E" href="#">E</a></li>
        <li class="h3"><a class="block rounded pam" data-key-name="F" href="#">F</a></li>
        <li class="h3"><a class="block rounded pam" data-key-name="F#" href="#">F#</a></li>
        <li class="h3"><a class="block rounded pam" data-key-name="G" href="#">G</a></li>
        <li class="h3"><a class="block rounded pam" data-key-name="G#" href="#">G#</a></li>
      </ul>
    </div>

    <div class="fretboard_backdrop">
      <div class="container--full phn">
        <div class="fretboard_wrapper"></div>
      </div>
    </div>
