---
layout: default
permalink: /practice/index.html
---

{% include header-nav.html %}

<div class="container ptl">
  <p>Practice log videos I've made:</p>
  <ul>

    <!-- {% assign sorted_songs = site.songs | sort: 'song_title' %} -->

    {% assign practices = site.lessons | where: "category","practice_log" | sort: 'date_published' %}

    {% for p in practices reversed %}
      <li class="mbs"><a class="underline" href="{{ p.url | relative_url }}"><strong>{{ p.title }} </strong></a><br /><em><span class="small">{{ p.date_published | date: "%B %-d, %Y"}} • Lesson #{{ p.slug }}</span></em></li>
    {% endfor %}
  </ul>



  <!-- <ul>
    <li><a class="underline" href="/warmup/3/"><strong>Warm Up #3 "Sultans of Swing" chorus lick</strong></a><br /><em>Sept 19, 2018</em></li>
    <li><a class="underline" href="/warmup/2/"><strong>Warm Up #2: Easy E Fingerpicking</strong></a><br /><em>Sept 3, 2018</em></li>
    <li><a class="underline" href="/warmup/1/"><strong>Warm Up #1: Simple blues riff in Drop-D</strong></a><br /><em>July 25, 2018</em></li>
  </ul> -->
  <p><a href="/">Back to the homepage &raquo;</a></p>
</div>
