---
layout: page
title: Sandbox of Song Notes layout stuff for PDFs
permalink: /sandbox-pdfs/
---

{% assign instructional_lessons = site.lessons | where_exp: "item","item.category != 'full_song'" | where_exp: "item","item.pdf_version == 'v1' or item.pdf_version == 'v2'" | sort: 'date_published' | reverse %}

<h1>All Instructional PDFs - {{ instructional_lessons.size }}</h1>

{% for l in instructional_lessons %}
<div class="printable_tile">
  <a href="{{ l.url }}">
    <div class="printable_tile--sheet" style="background-image: url(/images/pdfs/preview/{{l.slug}}.jpg)"></div>
    <h3 class="printable_tile--title">{{ l.title }}</h3>
    <p class="printable_tile--meta">{{ l.date_published | date: "%b %-d, %Y" }}&nbsp;&nbsp;•&nbsp;&nbsp;{{ l.pdf_numpages }} {% if l.pdf_numpages == 1 %}page{% else %}pages{% endif %}</p>
  </a>
</div>
{% endfor %}

<!-- Lesson #{{ l.slug }} -->

{% assign song_lessons = site.lessons | where: "category","full_song" | where: "pdf_version","musicnotes" | sort: 'date_published' | reverse %}

<h1>All Song Sheets - {{ song_lessons.size }}</h1>

{% for l in song_lessons %}
<div class="printable_tile">
  <a href="{{ l.url }}">
    <div class="printable_tile--sheet" style="background-image: url(/images/pdfs/preview/{{l.slug}}.jpg)"></div>
    <h3 class="printable_tile--title">{{ l.title }}</h3>
    <p class="printable_tile--meta">{{ l.date_published | date: "%b %-d, %Y" }}&nbsp;&nbsp;•&nbsp;&nbsp;{{ l.pdf_numpages }} {% if l.pdf_numpages == 1 %}page{% else %}pages{% endif %}</p>
  </a>
</div>
{% endfor %}
