---
layout: page
title: List of all lessons
permalink: /search/
---

{% comment %}
  # ======================================================
  # Figure out number of the latest lesson: latest_lesson_number
  # ======================================================
{% endcomment %}
{% for i in (1..1000) reversed %}
  {% assign song = site.lessons | where: 'slug', i %}
  {% if song[0] %}
    {% assign latest_lesson_number = song[0].slug %}
    {% break %}
  {% endif %}
{% endfor %}

<script src="/js/jquery.js"></script>
<script>
{% assign num_to_show = latest_lesson_number %}
{% assign shown_so_far = 0 %}
  var lessons = [
{% for i in (1..num_to_show) reversed %}
  {% assign lesson = site.lessons | where: 'slug', i %}
  {% if lesson[0] %}
    {% assign shown_so_far = shown_so_far | plus:1 %}
    {% if shown_so_far == num_to_show %}
      {% break %}
    {% endif %}
      {
    {% assign lesson_title = lesson[0].title | replace: '"','\"' %}
    {% case lesson[0].category %}
      {% when 'full_song' %}
        {% assign lesson_category = "Full Song" %}
      {% when 'warmup' %}
        {% assign lesson_category = "Warm Up Exercise" %}
      {% when 'practice_log' %}
        {% assign lesson_category = "Practice Log" %}
      {% when 'tip_technique' %}
        {% assign lesson_category = "Tip & Technique" %}
    {% endcase %}
        "title": "{{ lesson_title }}",
        "category": "{{ lesson_category }}",
        "url": "{{ lesson[0].url }}",
        "patreon_url": "{{ lesson[0].patreon_lesson_url}}",
        "slug": "{{ lesson[0].slug }}"
      },
  {% endif %}
{% endfor %}
  ];


var searchQueryText;
var latest_lesson_number = {{latest_lesson_number}};

$(document).ready(function(){

  if (searchTerm) {
      setTimeout(function(){
        updateSearchHeading();
      }, 10);
  }

});
</script>
<script src="/js/search.js"></script>


<!-- '<li class="song-listing"><h3><a href="'+ lessons[i].url +'"><span>'+ lessons[i].title +'</span></a></h3><p>Lesson #'+ lessons[i].slug +' • '+ lessons[i].category +'</p><p class="featured_label" data-patreon-url="' + lessons[i].patreon_url + '">PDF</p></li>' -->




<h2>Welcome to my new search page</h2>
<p>This is brand stinking new - so it's rough around the edges. Look for a whole lotta updates soon. In the meantime, search away! <em>David Pots / Dec 4, 2019</em></p>

<div style="text-align: center;">
  <form action="/search/" method="get" style="width: 100%; max-width: 720px; position: relative; text-align: left; margin: 0 auto;">
    <div style="position: relative; display: table; width: 100%;">
      <input style="font-size: 14px;  float: left; width: 80%;" type="text" id="search-box" name="query" placeholder="Search by song, artist, or lesson number">
      <input type="submit" value="Search" id="search-button" style="float: left; width: 20%; max-width: 120px;">
    </div>
  </form>
</div>

<div id="noQueryPrompt"></div>
<p id="yesQueryPrompt"><span id="numResultsFound"></span> results found for <span id="searchQuery"></span></p>

<!-- <p>I have made {{latest_lesson_number}} YouTube videos so far... {{ site.lessons.size }} of which have pages on this website. They are listed below.</p> -->

<ul id="search-results" class="song-listing-wrapper"></ul>

  <p>Try some example searches:</p>
  <ul>
    <li><a href="?query=Neil Young">Neil Young</a> or <a href="?query=Johnny Cash">Johnny Cash</a></li>
    <li><a href="?query=minor">minor</a> or <a href="?query=Fingerstyle">Fingerstyle</a></li>
    <li><a href="?query=268">268</a> or <a href="?query=159">159</a></li>
    <li><a href="?query=Warm Up Exercise">Warm Up Exercise</a> or <a href="?query=Practice Log">Practice Log</a></li>
  </ul>
