---
layout: page
title: List of all lessons
permalink: /search/
---

{% comment %}
  # ======================================================
  # Figure out number of the latest lesson: latest_lesson_number
  # ======================================================
{% endcomment %}
{% for i in (1..1000) reversed %}
  {% assign song = site.lessons | where: 'slug', i %}
  {% if song[0] %}
    {% assign latest_lesson_number = song[0].slug %}
    {% break %}
  {% endif %}
{% endfor %}

<script src="/js/jquery.js"></script>
<script>
{% assign num_to_show = latest_lesson_number %}
{% assign shown_so_far = 0 %}
  var lessons = [
{% for i in (1..num_to_show) reversed %}
  {% assign lesson = site.lessons | where: 'slug', i %}
  {% if lesson[0] %}
    {% assign shown_so_far = shown_so_far | plus:1 %}
    {% if shown_so_far == num_to_show %}
      {% break %}
    {% endif %}
      {
    {% comment %} ================================================= {% endcomment %}
    {% if lesson[0].title %}
      {% assign lesson_title = lesson[0].title | replace: '"','\"' %}
    {% else %}
      {% assign lesson_title = "" %}
    {% endif %}
    {% comment %} ================================================= {% endcomment %}
    {% if lesson[0].tags %}
      {% assign lesson_tags = lesson[0].tags | replace: '"','\"' %}
    {% else %}
      {% assign lesson_tags = "" %}
    {% endif %}
    {% comment %} ================================================= {% endcomment %}
    {% if lesson[0].hidden_tags %}
      {% assign lesson_hidden_tags = lesson[0].hidden_tags | replace: '"','\"' %}
    {% else %}
      {% assign lesson_hidden_tags = "" %}
    {% endif %}
    {% comment %} ================================================= {% endcomment %}
    {% case lesson[0].category %}
      {% when 'full_song' %}
        {% assign lesson_category = "Full Song" %}
      {% when 'warmup' %}
        {% assign lesson_category = "Warm Up Exercise" %}
      {% when 'practice_log' %}
        {% assign lesson_category = "Practice Log" %}
      {% when 'playalong_cover' %}
        {% assign lesson_category = "Play-along Cover" %}
      {% when 'tip_technique' %}
        {% assign lesson_category = "Tip & Technique" %}
      {% when 'generic' %}
        {% assign lesson_category = "General & About This Channel" %}
    {% endcase %}
        "title": "{{ lesson_title }}",
        "category": "{{ lesson_category }}",
        "url": "{{ lesson[0].url }}",
        "tags": "{{ lesson_tags }}",
        "hidden_tags": "{{ lesson_hidden_tags }}",
        "patreon_url": "{{ lesson[0].patreon_lesson_url}}",
        "slug": "{{ lesson[0].slug }}"
      },
  {% endif %}
{% endfor %}
  ];


var searchQueryText;
var latest_lesson_number = {{latest_lesson_number}};

$(document).ready(function(){

  if (searchTerm) {
      setTimeout(function(){
        updateSearchHeading();
      }, 10);
  }

});
</script>
<script src="/js/search.js"></script>


<!-- '<li class="song-listing"><h3><a href="'+ lessons[i].url +'"><span>'+ lessons[i].title +'</span></a></h3><p>Lesson #'+ lessons[i].slug +' • '+ lessons[i].category +'</p><p class="featured_label" data-patreon-url="' + lessons[i].patreon_url + '">PDF</p></li>' -->



<div style="text-align: center; margin-top: 16px;">
  <form action="/search/" method="get" style="width: 100%; position: relative; text-align: left; margin: 0 auto;">
    <div style="position: relative; display: table; width: 100%;">
      <input style="float: left; width: 80%;" type="text" id="search-box" name="query" placeholder="Search by song, artist, or lesson number">
      <input type="submit" value="Search" id="search-button" style="float: left; width: 20%; max-width: 120px;">
    </div>
  </form>
</div>


<p id="yesQueryPrompt"><span id="numResultsFound"></span> results found for <span id="searchQuery"></span></p>
<!-- <p class="strong hide-on-desktop"><a href="#search-filters">Filter by category...</a></p> -->

<!-- <p>I have made {{latest_lesson_number}} YouTube videos so far... {{ site.lessons.size }} of which have pages on this website. They are listed below.</p> -->



    <div class="search-ui-wrapper">

        <div class="search-results-container">
          <div id="noQueryPrompt">Type your search in the box above, or click the links to browse by category</div>
          <ul id="search-results" class="song-listing-wrapper"></ul>
        </div>

        <div id="search-filters" class="search-filters-container">
          <h4 class="mtn mbs">Browse by category</h4>
          <ul>
            <li><a href="?query=Full Song Lesson">Full Song Lesson</a></li>
            <li><a href="?query=Play-Along Cover">Play-Along Covers</a></li>
            <li><a href="?query=Warm Up Exercise">Warm Up Exercises</a></li>
            <li><a href="?query=Tips & Techniques">Tips & Techniques</a></li>
          </ul>
          <h4 class="mbs">Browse by song decade</h4>
          <ul>
            <li><a href="?query=2000s">2000s</a></li>
            <li><a href="?query=1990s">1990s</a></li>
            <li><a href="?query=1980s">1980s</a></li>
            <li><a href="?query=1970s">1970s</a></li>
            <li><a href="?query=1960s">1960s</a></li>
            <li><a href="?query=1950s">1950s</a></li>
          </ul>
          <h4 class="mbs">Browse by genre</h4>
          <ul>
            <li><a href="?query=Classic Rock">Classic Rock</a></li>
            <li><a href="?query=Country">Country</a></li>
            <li><a href="?query=Rock">Rock</a></li>
            <li><a href="?query=Pop">Pop</a></li>
            <li><a href="?query=Holiday">Holiday</a></li>
          </ul>
          <h4 class="mbs">Browse by technique</h4>
          <ul>
            <li><a href="?query=Learning Chords">Learning Chords</a></li>
            <li><a href="?query=Strumming">Strumming</a></li>
            <li><a href="?query=Fingerstyle">Fingerstyle</a></li>
            <li><a href="?query=Travis Picking">Travis Picking</a></li>
          </ul>
          <h4 class="mbs">Browse by musical key</h4>
          <ul>
            <li><a href="?query=Key of C">Key of C</a></li>
            <li><a href="?query=Key of D">Key of D</a></li>
            <li><a href="?query=Key of E">Key of E</a></li>
            <li><a href="?query=Key of F">Key of F</a></li>
            <li><a href="?query=Key of G">Key of G</a></li>
            <li><a href="?query=Key of A">Key of A</a></li>
          </ul>
          <h4 class="mbs">Browse by popular artist</h4>
          <ul>
            <li><a href="?query=Johnny Cash">Johnny Cash</a></li>
            <li><a href="?query=Tyler Childers">Tyler Childers</a></li>
            <li><a href="?query=Tom Petty">Tom Petty</a></li>
            <li><a href="?query=Neil Young">Neil Young</a></li>
            <li><a href="?query=Nirvana">Nirvana</a></li>
            <li><a href="?query=Lynyrd Skynyrd">Lynyrd Skynyrd</a></li>
            <li><a href="?query=Willie Nelson">Willie Nelson</a></li>
            <li><a href="?query=John Denver">John Denver</a></li>
            <li><a href="?query=Guns N' Roses">Guns N' Roses</a></li>
          </ul>
        </div>

    </div>











<!--
  <p>Try some example searches:</p>
  <ul>
    <li><a href="?query=Neil Young">Neil Young</a> or <a href="?query=Johnny Cash">Johnny Cash</a></li>
    <li><a href="?query=minor">minor</a> or <a href="?query=Fingerstyle">Fingerstyle</a></li>
    <li><a href="?query=268">268</a> or <a href="?query=159">159</a></li>
    <li><a href="?query=Warm Up Exercise">Warm Up Exercise</a> or <a href="?query=Practice Log">Practice Log</a></li>
  </ul> -->
