---
layout: default
---

<script src="/js/jquery.js"></script>
<script>
{% assign num_to_show = 10 %}
{% assign shown_so_far = 0 %}
  var lessons = [
{% for i in (1..275) reversed %}
  {% assign lesson = site.lessons | where: 'slug', i %}
  {% if lesson[0] %}
    {% assign shown_so_far = shown_so_far | plus:1 %}
    {% if shown_so_far == num_to_show %}
      {% break %}
    {% endif %}
      {
    {% assign lesson_title = lesson[0].title | replace: '"','\"' %}
    {% case lesson[0].category %}
      {% when 'full_song' %}
        {% assign lesson_category = "Full Song" %}
      {% when 'warmup' %}
        {% assign lesson_category = "Warm Up Exercise" %}
      {% when 'practice_log' %}
        {% assign lesson_category = "Practice Log" %}
      {% when 'tip_technique' %}
        {% assign lesson_category = "Tip & Technique" %}
    {% endcase %}
        "title": "{{ lesson_title }}",
        "category": "{{ lesson_category }}",
        "url": "{{ lesson[0].url }}",
        "patreon_url": "{{ lesson[0].patreon_lesson_url}}",
        "slug": "{{ lesson[0].slug }}"
      },
  {% endif %}
{% endfor %}
  ];


$(document).ready(function(){

  for (i = 0; i < 5; i++) {
    $('#search-results').append('<li class="song-listing"><h3><a href="'+ lessons[i].url +'">'+ lessons[i].title +'</a></h3><p>Lesson #'+ lessons[i].slug +' • '+ lessons[i].category +'</p><p class="featured_label"><a href="'+ lessons[i].patreon_url +'">PDF</a></p></li>');
  }

});


</script>

<script src="/js/search.js"></script>



<ul id="search-results" class="song-listing-wrapper"></ul>
