---
layout: default
permalink: /tips/index.html
---

{% include header-nav.html %}

<div class="container ptl">
  <p>Tips & Technique videos I've made</p>
  <ul>

    <!-- {% assign sorted_songs = site.songs | sort: 'song_title' %} -->

    {% assign tips = site.lessons | where: "category","tip_technique" | sort: 'date' %}

    {% for t in tips reversed %}
      <li><a class="underline" href="{{ t.url | relative_url }}"><strong>{{ t.title }} </strong></a><br /><em>{{ t.date | date: "%B %-d, %Y"}} • Lesson #{{ t.slug }}</em></li>
    {% endfor %}
  </ul>



  <!-- <ul>
    <li><a class="underline" href="/warmup/3/"><strong>Warm Up #3 "Sultans of Swing" chorus lick</strong></a><br /><em>Sept 19, 2018</em></li>
    <li><a class="underline" href="/warmup/2/"><strong>Warm Up #2: Easy E Fingerpicking</strong></a><br /><em>Sept 3, 2018</em></li>
    <li><a class="underline" href="/warmup/1/"><strong>Warm Up #1: Simple blues riff in Drop-D</strong></a><br /><em>July 25, 2018</em></li>
  </ul> -->
  <p><a href="/">Back to the homepage &raquo;</a></p>
</div>
