<h3>By lesson type</h3>
<ul class="browse_tiles">
  <li><a href="/search/?query=Full Song Lesson">Full Song Lessons</a></li>
  <li><a href="/search/?query=Beginner">Beginner Songs</a></li>
  <li><a href="/search/?query=Backing Tracks">Backing Tracks</a></li>
  <li><a href="/search/?query=Play-Along Cover">Play-Along Covers</a></li>
  <li><a href="/search/?query=Warm Up Exercise">Warm-Up Exercises</a></li>
  <li><a href="/search/?query=Tips & Techniques">Tips & Techniques</a></li>
</ul>
<h3>By song decade</h3>
<ul class="browse_tiles">
  <li><a href="/search/?query=2000s">2000s</a></li>
  <li><a href="/search/?query=1990s">1990s</a></li>
  <li><a href="/search/?query=1980s">1980s</a></li>
  <li><a href="/search/?query=1970s">1970s</a></li>
  <li><a href="/search/?query=1960s">1960s</a></li>
  <li><a href="/search/?query=1950s">1950s</a></li>
</ul>
<h3>By musical genre</h3>
<ul class="browse_tiles">
  <li><a href="/search/?query=Classic Rock">Classic Rock</a></li>
  <li><a href="/search/?query=Country">Country</a></li>
  <li><a href="/search/?query=Rock">Rock</a></li>
  <li><a href="/search/?query=Pop">Pop</a></li>
  <li><a href="/search/?query=Holiday">Holiday</a></li>
</ul>
<h3>By guitar technique</h3>
<ul class="browse_tiles">
  <li><a href="/search/?query=Learning Chords">Learning Chords</a></li>
  <li><a href="/search/?query=Strumming">Strumming</a></li>
  <li><a href="/search/?query=Fingerstyle">Fingerstyle</a></li>
  <li><a href="/search/?query=Travis Picking">Travis Picking</a></li>
</ul>
<h3>By musical key</h3>
<ul class="browse_tiles">
  <li><a href="/search/?query=Key of C">Key of C</a></li>
  <li><a href="/search/?query=Key of D">Key of D</a></li>
  <li><a href="/search/?query=Key of E">Key of E</a></li>
  <li><a href="/search/?query=Key of F">Key of F</a></li>
  <li><a href="/search/?query=Key of G">Key of G</a></li>
  <li><a href="/search/?query=Key of A">Key of A</a></li>
</ul>
<h3>By popular artist</h3>
<ul class="browse_tiles">
  <li><a href="/search/?query=Johnny Cash">Johnny Cash</a></li>
  <li><a href="/search/?query=Tyler Childers">Tyler Childers</a></li>
  <li><a href="/search/?query=Tom Petty">Tom Petty</a></li>
  <li><a href="/search/?query=Neil Young">Neil Young</a></li>
  <li><a href="/search/?query=Nirvana">Nirvana</a></li>
  <li><a href="/search/?query=Lynyrd Skynyrd">Lynyrd Skynyrd</a></li>
  <li><a href="/search/?query=Willie Nelson">Willie Nelson</a></li>
  <li><a href="/search/?query=John Denver">John Denver</a></li>
  <li><a href="/search/?query=Guns N' Roses">Guns N' Roses</a></li>
</ul>
