  <div class="header-nav">
    <div class="header-nav-inner-wrap container clearfix">
      <div class="header-logo">
        <a href="/"><img width="200" src="{{site.baseurl}}/images/logo/songnotes-logo-horizontal.svg" /></a>
      </div>
      <ul class="header-links">
        <!-- <li class="normal-link"><a href="/index.html#heading-songs">Songs</a></li>
        <li class="normal-link"><a href="/warmup">Warm Up Exercises</a></li> -->
        <!-- <li class="normal-link"><a href="/tips">Tips & Techniques</a></li>
        <li class="normal-link"><a href="/practice">Practice Log</a></li> -->
        <!-- <li><a class="pill-link" href="/lessons">▶️ Video Lessons</a></li> -->
        <li><a class="pill-link" href="/search">🔍 Search Lessons</a></li>
        <li><a class="pill-link" href="/downloads">📎 PDFs</a></li>
        <li><a class="pill-link" href="https://paypal.me/songnotes">👍 Tip Jar</a></li>
      </ul>
    </div>
  </div>
