      <ul class="header-nav-links clearfix">
        <li><a href="/">Home</a></li>
        <li><a href="/songs">Song Lessons</a></li>
        <li><a href="/printables">PDFs</a></li>
        <li><a href="/fretmonster.html">FretMonster</a></li>
        <li>
          <a href="#" class="has-subnav has-subnav--closed">Tools</a>
          <ul class="header-nav-links--subnav">
            <li><a href="/lessons/345/">Blank Tab Sheets</a></li>
            <li><a href="/beginner/songs">Beginner Song List</a></li>
            <li><a href="/newsletter">Weekly Newsletter</a></li>
          </ul>
        </li>
        <li><a href="/help">Help & FAQ</a></li>
        <li><a href="/contact">Contact</a></li>
        <!-- <li><a href="/lessons/367/">About</a></li> -->
        <!-- <li><a href="https://paypal.me/songnotes">Tip Jar</a></li> -->
      </ul>
