<div class="header">
  <div class="header-top">
    <ul class="container">
      <li class="header-logo"><a href="/"><img width="300" src="/images/logo/logo-with-name-horiztonal.svg" /></a></li>
    </ul>
  </div>
  <div class="header-bottom">
    <ul class="container">
      <li><a href="/">Home</a></li>
      <li><a href="/riffs">Videos</a></li>
      <li><a href="/downloads">PDFs</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/gear">Gear</a></li>
      <!-- <li><a href="https://paypal.me/songnotes">Tip Jar</a></li> -->
      <!-- <li><a href="#">Help & FAQs</a></li> -->
      <!-- <li><a href="#">Contact</a></li> -->
    </ul>
  </div>
</div>
