  <div style="box-shadow: 0px 2px 5px rgba(0,0,0,0.1); background: #fff;">
    <div class="container clearfix" style="padding-top: 15px; padding-bottom: 6px">
      <span class="small right" style="top: -5px; position: relative;"><a class="gray block bold" style="background: #eee; padding: 8px 16px 8px 14px; border-radius: 16px;" href="https://paypal.me/songnotes">👍 Tip Jar</a></span>
<span class="small right mrs" style="top: -5px; position: relative;"><a class="gray block bold" style="background: #eee; padding: 8px 16px 8px 14px; border-radius: 16px;" href="/downloads">📎 PDFs</a></span>
      <a href="/" class="block left"><img width="200" src="{{site.baseurl}}/images/logo/songnotes-logo-horizontal.svg" /></a>
    </div>
  </div>
