<div class="header header--desktop">
  <div class="header-top">
    <div class="container">
      <div class="header-top-container-buffer clearfix">
        <a class="header-logo" href="/"><img src="/images/logo/songnotes-logo-wide.svg" /></a>
        {% include header-nav--cta.html %}
        {% include header-nav--search.html %}
      </div> <!-- .header-top-container-buffer -->
    </div>
  </div>
  <div class="header-bottom">
    <div class="container clearfix">
      {% include header-nav--main-links.html %}
      <!-- { % include header-nav--social-links.html %} -->
     </div>
  </div>
</div>
