
<ul>


  <!-- <li><a class="underline" href="________"><strong>___________</strong></a> by __________<br /><em>________</em></li> -->



<li><a class="underline" href="/warmup/12"><strong>Faking open chords in key of A</strong></a><br /><em>Dec 12, 2018</em></li>
<li><a class="underline" href="https://www.youtube.com/watch?v=mmzdp-4Ozmc"><strong>My Top Lessons of 2018</strong></a><br /><em>Jan 8, 2019</em></li>
<li><a class="underline" href="/songs/neil-young-heart-of-gold/"><strong>Heart of Gold</strong></a> by Neil Young<br /><em>Jan 5, 2019</em></li>
  <li><a class="underline" href="/songs/traditional-auld-lang-syne/"><strong>Auld Lang Syne</strong></a> (traditional)<br /><em>Dec 31, 2018</em></li>
  <li><a class="underline" href="/warmup/11"><strong>Faking open chords in key of E</strong></a><br /><em>Dec 27, 2018</em></li>
  <li><a class="underline" href="/songs/wham-last-christmas/"><strong>Last Christmas</strong></a> by Wham!<br /><em>Dec 24, 2018</em></li>
  <li><a class="underline" href="/songs/eagles-please-come-home-for-christmas/"><strong>Please Come Home for Christmas</strong></a> by The Eagles<br /><em>Dec 17, 2018</em></li>
  <li><a class="underline" href="/tips/20"><strong>Guitar chords on a ukulele</strong></a><br /><em>Dec 13, 2018</em></li>
  <li><a class="underline" href="/tips/19"><strong>Slap strumming basics (percussive rhythm technique)</strong></a><br /><em>Dec 8, 2018</em></li>
  <li><a class="underline" href="/practice/7/"><strong>How to practice with a backing track, feat. Tennessee Whiskey (Practice Log #7)</strong></a><br /><em>Dec 1, 2018</em></li>
  <li><a class="underline" href="/tips/18"><strong>Playing A-major with big fingers or a small fretboard</strong></a><br /><em>Nov 27, 2018</em></li>
  <li><a class="underline" href="/warmup/10"><strong>E-major backyard groove (feat. Posters by Jack Johnson)</strong></a><br /><em>Nov 21, 2018</em></li>
  <li><a class="underline" href="/tips/17"><strong>How to play F#m (F sharp minor)</strong></a><br /><em>Nov 18, 2018</em></li>
  <li><a class="underline" href="/practice/6/"><strong>Spicing up a 2-chord song feat. Tennessee Whiskey (Practice Log #6)</strong></a><br /><em>Nov 15, 2018</em></li>
  <li><a class="underline" href="/practice/5/"><strong>Adding pinky accent notes to a chord progression (Practice Log #5)</strong></a><br /><em>Nov 11, 2018</em></li>
  <li><a class="underline" href="/warmup/9/"><strong>Adding pentatonic licks w/ strumming in A-minor (Warm Up #9)</strong></a><br /><em>Nov 8, 2018</em></li>
  <li><a class="underline" href="/songs/bradley-cooper-maybe-it-s-time/"><strong>Maybe It's Time</strong></a> from A Star is Born<br /><em>Nov 4, 2018</em></li>
  <li><a class="underline" href="/tips/16"><strong>Palm muting basics</strong></a><br /><em>Oct 31, 2018</em></li>
  <li><a class="underline" href="/warmup/8/"><strong>"One Horse Town" riffing on A-minor and C (Warm Up #8)</strong></a><br /><em>Oct 28, 2018</em></li>
  <li><a class="underline" href="/warmup/7/"><strong>Transitioning between Em7 - D/F# - G (Warm Up #7)</strong></a><br /><em>Oct 24, 2018</em></li>
  <li><a class="underline" href="/practice/4/"><strong>"Pretty Woman" lick, played 4 ways</strong></a><br /><em>Oct 13, 2018</em></li>
  <li><a class="underline" href="/songs/lady-gaga-shallow/"><strong>Shallow</strong></a> by Bradley Cooper & Lady Gaga<br /><em>Oct 11, 2018</em></li>
  <li><a class="underline" href="/warmup/6/"><strong>Mudfootball G-D7 shuffle (Warm Up #6)</strong></a><br /><em>Oct 7, 2018</em></li>
  <li><a class="underline" href="/warmup/5/"><strong>A-minor murder ballad groove (Warm Up #5)</strong></a><br /><em>Oct 2, 2018</em></li>
  <li><a class="underline" href="/tips/14"><strong>How to play Fadd9</strong></a><br /><em>Sept 27, 2018</em></li>
  <li><a class="underline" href="/warmup/4/"><strong>Blaze Foley country strumming (Warm Up #4)</strong></a><br /><em>Sept 25, 2018</em></li>
  <li><a class="underline" href="/songs/jenny-lewis-acid-tongue/"><strong>Acid Tongue</strong></a> by Jenny Lewis<br /><em>Sept 22, 2018</em></li>
  <li><a class="underline" href="/warmup/3/"><strong>"Sultans of Swing" chorus lick (Warm Up #3)</strong></a><br /><em>Sept 19, 2018</em></li>
  <li><a class="underline" href="/practice/3/"><strong>Learning how to Travis Pick with "Clay Pigeons"</strong></a><br /><em>Sept 13, 2018</em></li>
  <li><a class="underline" href="/songs/tyler-childers-lady-may/"><strong>Lady May</strong></a> by Tyler Childers<br /><em>Sept 7, 2018</em></li>
</ul>
