<div class="tile-wrapper">


  <div class="tile tile-landscape">
    <div class="tile-head">
      <p>May 6, 2022</p>
    </div>
    <div class="tile-media">
      <a href="/lessons/432"><img src="/images/thumbnails/videos/432.jpg" /></a>
    </div>
    <div class="tile-body">
      <h3 class="tile-title"><a href="/lessons/432">A Pirate Looks at Forty</a></h3>
      <p class="tile-meta">by <a href="/search/?query=Jimmy%20Buffett">Jimmy Buffett</a>&nbsp;&nbsp;•&nbsp;&nbsp;Lesson #432</p>
      <!-- <p class="tile-description">Finally, my lesson for the absolute classic from The Beatles' White Album (1968). Whether you're a beginner or more skilled, this step-by-step lesson has you covered. Two full playthroughs included!</p> -->
        <p class="tile-badge"><a class="pdf-badge" data-pdf-version="musicnotes" href="/lessons/432"><span class='pdf-icon'>$</span> Sheet Music</a></p>
        <!-- <p class="tile-badge"><a class="pdf-badge" data-pdf-version="v2" href="_______"><span class='pdf-icon'>★</span> Patreon PDF</a></p> -->
    </div>
  </div>


  <div class="tile tile-landscape">
    <div class="tile-head">
      <p>Apr 23, 2022</p>
    </div>
    <div class="tile-media">
      <a href="/lessons/429"><img src="/images/thumbnails/videos/429.jpg" /></a>
    </div>
    <div class="tile-body">
      <h3 class="tile-title"><a href="/lessons/429">Fire and Rain</a></h3>
      <p class="tile-meta">by <a href="/search/?query=James%20Taylor">James Taylor</a>&nbsp;&nbsp;•&nbsp;&nbsp;Lesson #429</p>
      <!-- <p class="tile-description">Finally, my lesson for the absolute classic from The Beatles' White Album (1968). Whether you're a beginner or more skilled, this step-by-step lesson has you covered. Two full playthroughs included!</p> -->
        <p class="tile-badge"><a class="pdf-badge" data-pdf-version="musicnotes" href="/lessons/429"><span class='pdf-icon'>$</span> Sheet Music</a></p>
        <!-- <p class="tile-badge"><a class="pdf-badge" data-pdf-version="v2" href="_______"><span class='pdf-icon'>★</span> Patreon PDF</a></p> -->
    </div>
  </div>

  <div class="tile tile-landscape">
    <div class="tile-head">
      <p>April 9, 2022</p>
    </div>
    <div class="tile-media">
      <a href="/lessons/425"><img src="/images/thumbnails/videos/425.jpg" /></a>
    </div>
    <div class="tile-body">
      <h3 class="tile-title"><a href="/lessons/425">Sundown</a></h3>
      <p class="tile-meta">by <a href="/search/?query=Gordon%20Lightfoot">Gordon Lightfoot</a>&nbsp;&nbsp;•&nbsp;&nbsp;Lesson #425</p>
        <p class="tile-badge"><a class="pdf-badge" data-pdf-version="musicnotes" href="/lessons/425"><span class='pdf-icon'>$</span> Sheet Music</a></p>
    </div>
  </div>


  <div class="tile tile-landscape">
    <div class="tile-head">
      <p>April 1, 2022</p>
    </div>
    <div class="tile-media">
      <a href="/lessons/427"><img src="/images/thumbnails/videos/427.jpg" /></a>
    </div>
    <div class="tile-body">
      <h3 class="tile-title"><a href="/lessons/427">Lola</a></h3>
      <p class="tile-meta">by <a href="/search/?query=Kinks">The Kinks</a>&nbsp;&nbsp;•&nbsp;&nbsp;Lesson #427</p>
      <!-- <p class="tile-description">Finally, my lesson for the absolute classic from The Beatles' White Album (1968). Whether you're a beginner or more skilled, this step-by-step lesson has you covered. Two full playthroughs included!</p> -->
        <p class="tile-badge"><a class="pdf-badge" data-pdf-version="musicnotes" href="/lessons/427"><span class='pdf-icon'>$</span> Sheet Music</a></p>
        <!-- <p class="tile-badge"><a class="pdf-badge" data-pdf-version="v2" href="_______"><span class='pdf-icon'>★</span> Patreon PDF</a></p> -->
    </div>
  </div>

  <div class="tile tile-landscape">
    <div class="tile-head">
      <p>March 13, 2022</p>
    </div>
    <div class="tile-media">
      <a href="/lessons/422"><img src="/images/thumbnails/videos/422.jpg" /></a>
    </div>
    <div class="tile-body">
      <h3 class="tile-title"><a href="/lessons/422">Landslide</a></h3>
      <p class="tile-meta">by <a href="/search/?query=Fleetwood%20Mac">Fleetwood Mac</a>&nbsp;&nbsp;•&nbsp;&nbsp;Lesson #422</p>
      <!-- <p class="tile-description">Learn the 1970 acoustic classic from the Grateful Dead's 5th studio album <em>American Beauty</em>. I include 4 strumming options, along with a step-by-step approach to learning the intro riff.</p> -->
        <p class="tile-badge"><a class="pdf-badge" data-pdf-version="musicnotes" href="/lessons/422"><span class='pdf-icon'>$</span> Sheet Music</a></p>
        <!-- <p class="tile-badge"><a class="pdf-badge" data-pdf-version="v2" href="_______"><span class='pdf-icon'>★</span> Patreon PDF</a></p> -->
    </div>
  </div>

  <div class="tile tile-landscape">
    <div class="tile-head">
      <p>March 6, 2022</p>
    </div>
    <div class="tile-media">
      <a href="/lessons/419"><img src="/images/thumbnails/videos/419.jpg" /></a>
    </div>
    <div class="tile-body">
      <h3 class="tile-title"><a href="/lessons/419">Under the Bridge</a></h3>
      <p class="tile-meta">by <a href="/search/?query=Red%20Hot%20Chili%20Peppers">Red Hot Chili Peppers</a>&nbsp;&nbsp;•&nbsp;&nbsp;Lesson #419</p>
      <!-- <p class="tile-description">Finally, my lesson for the absolute classic from The Beatles' White Album (1968). Whether you're a beginner or more skilled, this step-by-step lesson has you covered. Two full playthroughs included!</p> -->
        <p class="tile-badge"><a class="pdf-badge" data-pdf-version="musicnotes" href="/lessons/419"><span class='pdf-icon'>$</span> Sheet Music</a></p>
        <!-- <p class="tile-badge"><a class="pdf-badge" data-pdf-version="v2" href="_______"><span class='pdf-icon'>★</span> Patreon PDF</a></p> -->
    </div>
  </div>







































</div> <!-- end: tile-wrapper -->
