<ul>
<br />


  <!-- <li><a class="underline" href="________"><strong>___________</strong></a> by __________<br /><em>________</em></li> -->

  <!-- <li class="homepage-latest-gallery">
    <a style="" href="/lessons/362">
      <div style="background-image: url(/images/pdfs/preview/362.jpg);" class="pdf-thumbnail"></div>
      <h3>New Music Picks (April 2021)</h3>
      <h4>Song Notes Radio</h4>
      <h5>May 1, 2021 • Lesson #362</h5>
      <h6>Listen to episode »</h6>
    </a>
  </li> -->

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/374">
      <div style="background-image: url(/images/thumbnails/videos/374.jpg);" class="video-thumbnail"></div>
      <h3>Blackbird</h3>
      <h4>The Beatles</h4>
      <h5>July 4, 2021 • Lesson #374</h5>
      <h6>Watch Video & Get Sheet Music »</h6>
    </a>
  </li>

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/373">
      <div style="background-image: url(/images/thumbnails/videos/373.jpg);" class="video-thumbnail"></div>
      <h3>How to get sheet music for my song lessons</h3>
      <h4>About this channel</h4>
      <h5>July 1, 2021 • Lesson #373</h5>
      <h6>Watch Video & Read FAQ »</h6>
    </a>
  </li>

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/372">
      <div style="background-image: url(/images/thumbnails/videos/372.jpg);" class="video-thumbnail"></div>
      <h3>West Texas Campfire Riff (Key of G)</h3>
      <h4>Warm-Up Exercise</h4>
      <h5>June 27, 2021 • Lesson #372</h5>
      <h6>Watch Video & Get PDF »</h6>
    </a>
  </li>

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/371">
      <div style="background-image: url(/images/thumbnails/videos/371.jpg);" class="video-thumbnail"></div>
      <h3>Bass Note Strumming</h3>
      <h4>Tips & Techniques</h4>
      <h5>June 20, 2021 • Lesson #371</h5>
      <h6>Watch Video & Get PDF »</h6>
    </a>
  </li>


  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/370">
      <div style="background-image: url(/images/thumbnails/videos/370.jpg);" class="video-thumbnail"></div>
      <h3>Meditative Fingerpicking, Key of E</h3>
      <h4>Warm-Up Exercise</h4>
      <h5>June 12, 2021 • Lesson #370</h5>
      <h6>Watch Video & Get PDF »</h6>
    </a>
  </li>

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/369">
      <div style="background-image: url(/images/thumbnails/videos/369.jpg);" class="video-thumbnail"></div>
      <h3>My Guitar Recording Gear Setup for YouTube</h3>
      <h4>About This Channel</h4>
      <h5>June 6, 2021 • Lesson #369</h5>
      <h6>Watch Video »</h6>
    </a>
  </li>

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/368">
      <div style="background-image: url(/images/thumbnails/videos/368.jpg);" class="video-thumbnail"></div>
      <h3>Follow You to Virgie</h3>
      <h4>by Tyler Childers</h4>
      <h5>May 30, 2021 • Lesson #368</h5>
      <h6>Watch Video »</h6>
    </a>
  </li>

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/367">
      <div style="background-image: url(/images/thumbnails/videos/367.jpg);" class="video-thumbnail"></div>
      <h3>When Did I Start Playing Guitar? My 20 Year Story</h3>
      <h4>About This Channel</h4>
      <h5>May 24, 2021 • Lesson #367</h5>
      <h6>Watch Video »</h6>
    </a>
  </li>

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/366">
      <div style="background-image: url(/images/thumbnails/videos/366.jpg);" class="video-thumbnail"></div>
      <h3>Beginner-friendly guitar slides (Keys of D and A)</h3>
      <h4>Tips & Techniques</h4>
      <h5>May 22, 2021 • Lesson #366</h5>
      <h6>Watch Video & Get PDF »</h6>
    </a>
  </li>

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/365">
      <div style="background-image: url(/images/thumbnails/videos/365.jpg);" class="video-thumbnail"></div>
      <h3>Learn It By Ear: Will The Circle Be Unbroken</h3>
      <h4>Tips & Techniques</h4>
      <h5>May 15, 2021 • Lesson #365</h5>
      <h6>Watch Video »</h6>
    </a>
  </li>

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/364">
      <div style="background-image: url(/images/thumbnails/videos/364.jpg);" class="video-thumbnail"></div>
      <h3>Adding a melody riff to strummed chords (Key of G)</h3>
      <h4>Warm Up Exercise</h4>
      <h5>May 13, 2021 • Lesson #364</h5>
      <h6>Watch Video & Get PDF»</h6>
    </a>
  </li>


</ul>
