<div class="tile-wrapper">

  <div class="tile tile-landscape">
    <div class="tile-head">
      <p>June 18, 2022</p>
    </div>
    <div class="tile-media">
      <a href="/lessons/440"><img src="/images/thumbnails/videos/440.jpg" /></a>
    </div>
    <div class="tile-body">
      <h3 class="tile-title"><a href="/lessons/440">Sittin' on the Dock of the Bay</a></h3>
      <p class="tile-meta">by <a href="/search/?query=Otis%20Redding">Otis Redding</a>&nbsp;&nbsp;•&nbsp;&nbsp;Lesson #440</p>
        <p class="tile-badge"><a class="pdf-badge" data-pdf-version="musicnotes" href="/lessons/440"><span class='pdf-icon'>$</span> Sheet Music</a></p>
    </div>
  </div>

  <div class="tile tile-landscape">
    <div class="tile-head">
      <p>June 11, 2022</p>
    </div>
    <div class="tile-media">
      <a href="/lessons/439"><img src="/images/thumbnails/videos/439.jpg" /></a>
    </div>
    <div class="tile-body">
      <h3 class="tile-title"><a href="/lessons/439">City of New Orleans</a></h3>
      <p class="tile-meta">by <a href="/search/?query=Arlo%20Guthrie">Arlo Guthrie</a>&nbsp;&nbsp;•&nbsp;&nbsp;Lesson #439</p>
      <!-- <p class="tile-description">Finally, my lesson for the absolute classic from The Beatles' White Album (1968). Whether you're a beginner or more skilled, this step-by-step lesson has you covered. Two full playthroughs included!</p> -->
        <p class="tile-badge"><a class="pdf-badge" data-pdf-version="musicnotes" href="/lessons/439"><span class='pdf-icon'>$</span> Sheet Music</a></p>
        <!-- <p class="tile-badge"><a class="pdf-badge" data-pdf-version="v2" href="_______"><span class='pdf-icon'>★</span> Patreon PDF</a></p> -->
    </div>
  </div>



  <div class="tile tile-landscape">
    <div class="tile-head">
      <p>June 4, 2022</p>
    </div>
    <div class="tile-media">
      <a href="/lessons/437"><img src="/images/thumbnails/videos/437.jpg" /></a>
    </div>
    <div class="tile-body">
      <h3 class="tile-title"><a href="/lessons/437">In Spite of Ourselves</a></h3>
      <p class="tile-meta">by <a href="/search/?query=John%20Prine">John Prine</a>&nbsp;&nbsp;•&nbsp;&nbsp;Lesson #437</p>
      <!-- <p class="tile-description">Learn the 1970 acoustic classic from the Grateful Dead's 5th studio album <em>American Beauty</em>. I include 4 strumming options, along with a step-by-step approach to learning the intro riff.</p> -->
        <p class="tile-badge"><a class="pdf-badge" data-pdf-version="musicnotes" href="/lessons/437"><span class='pdf-icon'>$</span> Sheet Music</a></p>
        <!-- <p class="tile-badge"><a class="pdf-badge" data-pdf-version="v2" href="_______"><span class='pdf-icon'>★</span> Patreon PDF</a></p> -->
    </div>
  </div>




  <div class="tile tile-landscape">
    <div class="tile-head">
      <p>May 14, 2022</p>
    </div>
    <div class="tile-media">
      <a href="/lessons/433"><img src="/images/thumbnails/videos/433.jpg" /></a>
    </div>
    <div class="tile-body">
      <h3 class="tile-title"><a href="/lessons/433">Blue Eyes Crying in the Rain</a></h3>
      <p class="tile-meta">by <a href="/search/?query=Willie%20Nelson">Willie Nelson</a>&nbsp;&nbsp;•&nbsp;&nbsp;Lesson #433</p>
      <!-- <p class="tile-description">Finally, my lesson for the absolute classic from The Beatles' White Album (1968). Whether you're a beginner or more skilled, this step-by-step lesson has you covered. Two full playthroughs included!</p> -->
        <p class="tile-badge"><a class="pdf-badge" data-pdf-version="musicnotes" href="/lessons/433"><span class='pdf-icon'>$</span> Sheet Music</a></p>
        <!-- <p class="tile-badge"><a class="pdf-badge" data-pdf-version="v2" href="_______"><span class='pdf-icon'>★</span> Patreon PDF</a></p> -->
    </div>
  </div>


  <div class="tile tile-landscape">
    <div class="tile-head">
      <p>May 6, 2022</p>
    </div>
    <div class="tile-media">
      <a href="/lessons/432"><img src="/images/thumbnails/videos/432.jpg" /></a>
    </div>
    <div class="tile-body">
      <h3 class="tile-title"><a href="/lessons/432">A Pirate Looks at Forty</a></h3>
      <p class="tile-meta">by <a href="/search/?query=Jimmy%20Buffett">Jimmy Buffett</a>&nbsp;&nbsp;•&nbsp;&nbsp;Lesson #432</p>
      <!-- <p class="tile-description">Finally, my lesson for the absolute classic from The Beatles' White Album (1968). Whether you're a beginner or more skilled, this step-by-step lesson has you covered. Two full playthroughs included!</p> -->
        <p class="tile-badge"><a class="pdf-badge" data-pdf-version="musicnotes" href="/lessons/432"><span class='pdf-icon'>$</span> Sheet Music</a></p>
        <!-- <p class="tile-badge"><a class="pdf-badge" data-pdf-version="v2" href="_______"><span class='pdf-icon'>★</span> Patreon PDF</a></p> -->
    </div>
  </div>


  <div class="tile tile-landscape">
    <div class="tile-head">
      <p>Apr 23, 2022</p>
    </div>
    <div class="tile-media">
      <a href="/lessons/429"><img src="/images/thumbnails/videos/429.jpg" /></a>
    </div>
    <div class="tile-body">
      <h3 class="tile-title"><a href="/lessons/429">Fire and Rain</a></h3>
      <p class="tile-meta">by <a href="/search/?query=James%20Taylor">James Taylor</a>&nbsp;&nbsp;•&nbsp;&nbsp;Lesson #429</p>
      <!-- <p class="tile-description">Finally, my lesson for the absolute classic from The Beatles' White Album (1968). Whether you're a beginner or more skilled, this step-by-step lesson has you covered. Two full playthroughs included!</p> -->
        <p class="tile-badge"><a class="pdf-badge" data-pdf-version="musicnotes" href="/lessons/429"><span class='pdf-icon'>$</span> Sheet Music</a></p>
        <!-- <p class="tile-badge"><a class="pdf-badge" data-pdf-version="v2" href="_______"><span class='pdf-icon'>★</span> Patreon PDF</a></p> -->
    </div>
  </div>












































</div> <!-- end: tile-wrapper -->
