<ul>
<br />


  <!-- <li><a class="underline" href="________"><strong>___________</strong></a> by __________<br /><em>________</em></li> -->

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/381">
      <div style="background-image: url(/images/thumbnails/videos/381.jpg);" class="video-thumbnail"></div>
      <h3>One Riff, Played Five Ways (Key of E)</h3>
      <h4>Tips & Techniques</h4>
      <h5>July 31, 2021 • Lesson #381</h5>
      <h6>Watch Video & Get PDF »</h6>
    </a>
  </li>

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/380">
      <div style="background-image: url(/images/thumbnails/videos/380.jpg);" class="video-thumbnail"></div>
      <h3>G-Major Groove (G-Am-C-D)</h3>
      <h4>Backing Track</h4>
      <h5>July 24, 2021 • Lesson #380</h5>
      <h6>Watch Video & Download Backing Track »</h6>
    </a>
  </li>

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/379">
      <div style="background-image: url(/images/thumbnails/videos/379.jpg);" class="video-thumbnail"></div>
      <h3>Essential Strumming Technique: Alternate Picking</h3>
      <h4>Tips & Techniques</h4>
      <h5>July 24, 2021 • Lesson #379</h5>
      <h6>Watch Video & Get PDF »</h6>
    </a>
  </li>

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/376">
      <div style="background-image: url(/images/thumbnails/videos/376.jpg);" class="video-thumbnail"></div>
      <h3>Cover Me Up</h3>
      <h4>by Jason Isbell / Morgan Wallen</h4>
      <h5>July 18, 2021 • Lesson #376</h5>
      <h6>Watch Video & Get Sheet Music »</h6>
    </a>
  </li>

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/375">
      <div style="background-image: url(/images/thumbnails/videos/375.jpg);" class="video-thumbnail"></div>
      <h3>Travis Picking: How To Learn Any Difficult Song</h3>
      <h4>Tips & Techniques</h4>
      <h5>July 11, 2021 • Lesson #375</h5>
      <h6>Watch Video & Get PDF »</h6>
    </a>
  </li>

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/374">
      <div style="background-image: url(/images/thumbnails/videos/374.jpg);" class="video-thumbnail"></div>
      <h3>Blackbird</h3>
      <h4>The Beatles</h4>
      <h5>July 4, 2021 • Lesson #374</h5>
      <h6>Watch Video & Get Sheet Music »</h6>
    </a>
  </li>

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/373">
      <div style="background-image: url(/images/thumbnails/videos/373.jpg);" class="video-thumbnail"></div>
      <h3>How to get sheet music for my song lessons</h3>
      <h4>About this channel</h4>
      <h5>July 1, 2021 • Lesson #373</h5>
      <h6>Watch Video & Read FAQ »</h6>
    </a>
  </li>

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/372">
      <div style="background-image: url(/images/thumbnails/videos/372.jpg);" class="video-thumbnail"></div>
      <h3>West Texas Campfire Riff (Key of G)</h3>
      <h4>Warm-Up Exercise</h4>
      <h5>June 27, 2021 • Lesson #372</h5>
      <h6>Watch Video & Get PDF »</h6>
    </a>
  </li>

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/371">
      <div style="background-image: url(/images/thumbnails/videos/371.jpg);" class="video-thumbnail"></div>
      <h3>Bass Note Strumming</h3>
      <h4>Tips & Techniques</h4>
      <h5>June 20, 2021 • Lesson #371</h5>
      <h6>Watch Video & Get PDF »</h6>
    </a>
  </li>


  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/370">
      <div style="background-image: url(/images/thumbnails/videos/370.jpg);" class="video-thumbnail"></div>
      <h3>Meditative Fingerpicking, Key of E</h3>
      <h4>Warm-Up Exercise</h4>
      <h5>June 12, 2021 • Lesson #370</h5>
      <h6>Watch Video & Get PDF »</h6>
    </a>
  </li>

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/369">
      <div style="background-image: url(/images/thumbnails/videos/369.jpg);" class="video-thumbnail"></div>
      <h3>My Guitar Recording Gear Setup for YouTube</h3>
      <h4>About This Channel</h4>
      <h5>June 6, 2021 • Lesson #369</h5>
      <h6>Watch Video »</h6>
    </a>
  </li>

  <li class="homepage-latest-gallery">
    <a style="" href="/lessons/368">
      <div style="background-image: url(/images/thumbnails/videos/368.jpg);" class="video-thumbnail"></div>
      <h3>Follow You to Virgie</h3>
      <h4>by Tyler Childers</h4>
      <h5>May 30, 2021 • Lesson #368</h5>
      <h6>Watch Video & Get Sheet Music »</h6>
    </a>
  </li>


</ul>
