<ul>

<!-- <li><a class="underline" href="/lessons/115"><strong>Havana</strong></a> by Camila Cabello<br /><em>June 14, 2020 • Lesson #115</em></li> -->
  
<li><a class="underline" href="/lessons/87"><strong>Last Kiss</strong></a> by Pearl Jam<br /><em>May 31, 2020 • Lesson #87</em></li>
    <li><a class="underline" href="/lessons/25"><strong>Summer of '69</strong></a> by Bryan Adams<br /><em>May 31, 2020 • Lesson #25</em></li>
  <li><a class="underline" href="/lessons/251"><strong>Angel Flight</strong></a> by Radney Foster<br /><em>May 25, 2020 • Lesson #251</em></li>
  <li><a class="underline" href="/lessons/32"><strong>True Colors</strong></a> by Cyndi Lauper (Justin Timberlake cover)<br /><em>May 17, 2020 • Lesson #32</em></li>
  <li><a class="underline" href="/lessons/157"><strong>My My, Hey Hey</strong></a> by Neil Young<br /><em>Apr 26, 2020 • Lesson #157</em></li>
  <li><a class="underline" href="/lessons/222"><strong>The Gambler</strong></a> by Kenny Rogers<br /><em>Mar 21, 2020 • Lesson #222</em></li>
  <li><a class="underline" href="/lessons/15"><strong>Sweet Caroline</strong></a> by Neil Diamond<br /><em>Feb 25, 2020 • Lesson #15</em></li>
<li><a class="underline" href="/lessons/56"><strong>Simple Man</strong></a> by Lynyrd Skynyrd (updated PDF)<br /><em>Feb 3, 2020 • Lesson #56</em></li>
  <li><a class="underline" href="/lessons/181"><strong>Shallow</strong></a> from A Star is Born (updated PDF)<br /><em>Jan 29, 2020 • Lesson #181</em></li>
  <li><a class="underline" href="/lessons/140"><strong>Slow Burn</strong></a> by Kacey Musgraves<br /><em>Jan 19, 2020 • Lesson #140</em></li>
  <li><a class="underline" href="/lessons/49"><strong>Walking Up & Down Between E & A & B7</strong></a><br /><em>Jan 13, 2020 • Lesson #49</em></li>
</ul>
