<div class="tile-wrapper">

  <div class="tile tile-landscape">
    <div class="tile-head">
      <p>Aug 12, 2022</p>
    </div>
    <div class="tile-media">
      <a href="/lessons/449"><img src="/images/thumbnails/videos/449.jpg" /></a>
    </div>
    <div class="tile-body">
      <h3 class="tile-title"><a href="/lessons/449">Personal Jesus</a></h3>
      <p class="tile-meta">by <a href="/search/?query=Johnny%20Cash">Johnny Cash</a>&nbsp;&nbsp;•&nbsp;&nbsp;Lesson #449</p>
      <!-- <p class="tile-description">Learn the 1970 acoustic classic from the Grateful Dead's 5th studio album <em>American Beauty</em>. I include 4 strumming options, along with a step-by-step approach to learning the intro riff.</p> -->
        <p class="tile-badge"><a class="pdf-badge" data-pdf-version="musicnotes" href="/lessons/449"><span class='pdf-icon'>$</span> Sheet Music</a></p>
        <!-- <p class="tile-badge"><a class="pdf-badge" data-pdf-version="v2" href="_______"><span class='pdf-icon'>★</span> Patreon PDF</a></p> -->
    </div>
  </div>

  <div class="tile tile-landscape">
    <div class="tile-head">
      <p>July 23, 2022</p>
    </div>
    <div class="tile-media">
      <a href="/lessons/446"><img src="/images/thumbnails/videos/446.jpg" /></a>
    </div>
    <div class="tile-body">
      <h3 class="tile-title"><a href="/lessons/446">Southern Cross</a></h3>
      <p class="tile-meta">by <a href="/search/?query=Crosby%2C+stills+%26+nash">Crosby, Stills & Nash</a>&nbsp;&nbsp;•&nbsp;&nbsp;Lesson #446</p>
      <!-- <p class="tile-description">Finally, my lesson for the absolute classic from The Beatles' White Album (1968). Whether you're a beginner or more skilled, this step-by-step lesson has you covered. Two full playthroughs included!</p> -->
        <p class="tile-badge"><a class="pdf-badge" data-pdf-version="musicnotes" href="/lessons/446"><span class='pdf-icon'>$</span> Sheet Music</a></p>
        <!-- <p class="tile-badge"><a class="pdf-badge" data-pdf-version="v2" href="_______"><span class='pdf-icon'>★</span> Patreon PDF</a></p> -->
    </div>
  </div>

  <div class="tile tile-landscape">
    <div class="tile-head">
      <p>July 14, 2022</p>
    </div>
    <div class="tile-media">
      <a href="/lessons/445"><img src="/images/thumbnails/videos/445.jpg" /></a>
    </div>
    <div class="tile-body">
      <h3 class="tile-title"><a href="/lessons/445">Dublin Blues</a></h3>
      <p class="tile-meta">by <a href="/search/?query=Guy%20Clark">Guy Clark</a>&nbsp;&nbsp;•&nbsp;&nbsp;Lesson #445</p>
      <!-- <p class="tile-description">Finally, my lesson for the absolute classic from The Beatles' White Album (1968). Whether you're a beginner or more skilled, this step-by-step lesson has you covered. Two full playthroughs included!</p> -->
        <p class="tile-badge"><a class="pdf-badge" data-pdf-version="musicnotes" href="/lessons/445"><span class='pdf-icon'>$</span> Sheet Music</a></p>
        <!-- <p class="tile-badge"><a class="pdf-badge" data-pdf-version="v2" href="_______"><span class='pdf-icon'>★</span> Patreon PDF</a></p> -->
    </div>
  </div>

  <div class="tile tile-landscape">
    <div class="tile-head">
      <p>June 25, 2022</p>
    </div>
    <div class="tile-media">
      <a href="/lessons/441"><img src="/images/thumbnails/videos/441.jpg" /></a>
    </div>
    <div class="tile-body">
      <h3 class="tile-title"><a href="/lessons/441">Pretty Woman</a></h3>
      <p class="tile-meta">by <a href="/search/?query=Roy%20Orbison">Roy Orbison</a>&nbsp;&nbsp;•&nbsp;&nbsp;Lesson #441</p>
      <!-- <p class="tile-description">Finally, my lesson for the absolute classic from The Beatles' White Album (1968). Whether you're a beginner or more skilled, this step-by-step lesson has you covered. Two full playthroughs included!</p> -->
        <p class="tile-badge"><a class="pdf-badge" data-pdf-version="musicnotes" href="/lessons/441"><span class='pdf-icon'>$</span> Sheet Music</a></p>
        <!-- <p class="tile-badge"><a class="pdf-badge" data-pdf-version="v2" href="_______"><span class='pdf-icon'>★</span> Patreon PDF</a></p> -->
    </div>
  </div>

  <div class="tile tile-landscape">
    <div class="tile-head">
      <p>June 18, 2022</p>
    </div>
    <div class="tile-media">
      <a href="/lessons/440"><img src="/images/thumbnails/videos/440.jpg" /></a>
    </div>
    <div class="tile-body">
      <h3 class="tile-title"><a href="/lessons/440">Sittin' on the Dock of the Bay</a></h3>
      <p class="tile-meta">by <a href="/search/?query=Otis%20Redding">Otis Redding</a>&nbsp;&nbsp;•&nbsp;&nbsp;Lesson #440</p>
        <p class="tile-badge"><a class="pdf-badge" data-pdf-version="musicnotes" href="/lessons/440"><span class='pdf-icon'>$</span> Sheet Music</a></p>
    </div>
  </div>

  <div class="tile tile-landscape">
    <div class="tile-head">
      <p>June 11, 2022</p>
    </div>
    <div class="tile-media">
      <a href="/lessons/439"><img src="/images/thumbnails/videos/439.jpg" /></a>
    </div>
    <div class="tile-body">
      <h3 class="tile-title"><a href="/lessons/439">City of New Orleans</a></h3>
      <p class="tile-meta">by <a href="/search/?query=Arlo%20Guthrie">Arlo Guthrie</a>&nbsp;&nbsp;•&nbsp;&nbsp;Lesson #439</p>
      <!-- <p class="tile-description">Finally, my lesson for the absolute classic from The Beatles' White Album (1968). Whether you're a beginner or more skilled, this step-by-step lesson has you covered. Two full playthroughs included!</p> -->
        <p class="tile-badge"><a class="pdf-badge" data-pdf-version="musicnotes" href="/lessons/439"><span class='pdf-icon'>$</span> Sheet Music</a></p>
        <!-- <p class="tile-badge"><a class="pdf-badge" data-pdf-version="v2" href="_______"><span class='pdf-icon'>★</span> Patreon PDF</a></p> -->
    </div>
  </div>
























































</div> <!-- end: tile-wrapper -->
