<ul>
    <li><a class="underline" href="/lessons/44"><strong>Badlands</strong></a> by Bruce Springsteen<br /><em>Dec 15, 2019 • Lesson #44</em></li>
    <li><a class="underline" href="/lessons/22"><strong>7 Years</strong></a> by Lukas Graham<br /><em>Dec 15, 2019 • Lesson #22</em></li>
  <li><a class="underline" href="/lessons/112"><strong>Where Rainbows Never Die</strong></a> by The SteelDrivers<br /><em>Nov 20, 2019 • Lesson #112</em></li>
  <li><a class="underline" href="/lessons/129"><strong>Remember Me</strong></a> from Pixar's "Coco"<br /><em>Nov 16, 2019 • Lesson #129</em></li>
  <li><a class="underline" href="/lessons/18"><strong>Give My Love to Rose</strong></a> by Johnny Cash<br /><em>Nov 12, 2019 • Lesson #18</em></li>
<li><a class="underline" href="/lessons/154"><strong>Gone Till November's acoustic intro riff</strong></a> by Wyclef Jean<br /><em>Nov 9, 2019 • Lesson #154</em></li>
<li><a class="underline" href="/lessons/76"><strong>Issues</strong></a> by Julia Michaels<br /><em>Oct 9, 2019 • Lesson #76</em></li>
</ul>
