<ul>


<li><a class="underline" href="/lessons/163"><strong>2-finger Blues in Drop-D Tuning</strong></a><br /><em>Sep 6, 2020 • Lesson #163</em></li>
<li><a class="underline" href="/lessons/108"><strong>Learnin' to Fly</strong></a> by Tom Petty<br /><em>Aug 29, 2020 • Lesson #108</em></li>
<li><a class="underline" href="/lessons/26"><strong>You're Gonna Make Me Lonesome When You Go</strong></a> by Bob Dylan<br /><em>Aug 22, 2020 • Lesson #26</em></li>
<li><a class="underline" href="/lessons/204"><strong>Heart of Gold</strong></a> by Neil Young<br /><em>Aug 9, 2020 • Lesson #204</em></li>
<li><a class="underline" href="/lessons/151"><strong>Take Me Home, Country Roads</strong></a> by John Denver<br /><em>Aug 2, 2020 • Lesson #151</em></li>
<li><a class="underline" href="/lessons/42"><strong>City of Stars</strong></a> from La La Land<br /><em>July 19, 2020 • Lesson #42</em></li>
<li><a class="underline" href="/lessons/189"><strong>Strumming with Pentatonic Fills</strong></a><br /><em>July 12, 2020 • Lesson #189</em></li>
<li><a class="underline" href="/lessons/148"><strong>Banana Pancakes</strong></a> by Jack Johnson<br /><em>July 5, 2020 • Lesson #148</em></li>
<li><a class="underline" href="/lessons/115"><strong>Havana</strong></a> by Camila Cabello<br /><em>June 14, 2020 • Lesson #115</em></li>
</ul>
