<!-- -->

{% if include.pdf_numpages == 1 %}
  {% assign pdf_numpages_string = "1 page" %}
{% else %}
  {% assign pdf_numpages_string = include.pdf_numpages | append: " pages" %}
{% endif %}

{% if include.pdf_version == "v2" and include.free_pdf_available == true %}

  <h2>Print-Friendly PDF <span class="small">{{pdf_numpages_string}}</span></h2>
  <div class="pdf_module_v2">
    <div class="pdf_module_v2__image" style="background-image: url(/images/pdfs/preview/{{include.slug}}.jpg)"></div>
    <div class="pdf_module_v2__content">
      <ul class="pdf_module_v2__list">
        <li>I'm excited to offer the print-friendly PDF educational guide for this song for free! I have <a href="/downloads">a few others</a> available for free as well.</li>
        <li>If you enjoy this and want access to my entire library of 200+ educational PDFs, please consider <a href="https://patreon.com/songnotes">supporting me on Patreon.com</a> ($5/month, cancel anytime).</li>
        <!-- <li>Support me on Patreon.com to get access to this and <a href="/downloads">200+ other PDF chord sheets</a> I've made, plus new PDFs I make going forward (1-2 added each week).</li>
        <li>The cost is $5/month (one month minimum, cancel anytime). <a href="/downloads">Here's a free sample</a> if you're on the fence. Thanks for supporting me & this project!</li> -->
      </ul>
      <a class="pdf_module_v2__button" target="_blank" href="{{include.free_pdf_url}}"><strong>Get the free PDF</strong></a>
      <p class="pdf_module_v2__footnote">If you're a Patreon supporter, <a target="_blank" href="{{include.patreon_url}}">click here</a> to get this PDF</p>
    </div>
  </div>

{% elsif include.pdf_version == "v2" or include.pdf_version == "v1" %}

  <h2>Print-Friendly PDF <span class="small">{{pdf_numpages_string}}</span></h2>
  <div class="pdf_module_v2">
    <a target="_blank" href="{{include.patreon_url}}"><div class="pdf_module_v2__image" style="background-image: url(/images/pdfs/preview/{{include.slug}}.jpg)"></div></a>
    <div class="pdf_module_v2__content">
      <ul class="pdf_module_v2__list">
        <li>Support me on Patreon.com to get access to this and <a href="/downloads">200+ other educational PDFs</a> I've made, plus new PDFs I make going forward (1-2 added each week).</li>
        <li>The cost is $5/month (one month minimum, cancel anytime). Annual plans also available. <a href="/downloads">Here's a free sample</a> if you're on the fence. Thanks!</li>
      </ul>
      <a class="pdf_module_v2__button" target="_blank" href="{{include.patreon_url}}"><strong>Download the PDF on Patreon</strong></a>
      <p class="pdf_module_v2__footnote">After clicking the button and logging in to Patreon, look for the PDF attached to the bottom of the post.</p>
    </div>
  </div>
  {% if include.pdf_for_sale %}

  {% endif %}

{% elsif include.pdf_version == "copyright" %}

<h2>Print-Friendly Song Sheet <span class="small">{{pdf_numpages_string}}</span></h2>
<div class="pdf_module_v2 pdf_module_v2--song">
  <h3 class="pdf_module_v2__headline">Sheet music for this song will be returning shortly!</h3>
  <div class="pdf_module_v2__image" style="background-image: url(/images/pdfs/preview/{{include.slug}}.jpg)"></div>
  <div class="pdf_module_v2__content">
    <ul class="pdf_module_v2__list">
      <li>For copyright reasons, my printable song sheet is <em>temporarily</em> unavailable while I move it over to Musicnotes.com, a sheet music service that is providing licensing for my song arrangements.</li>
      <li>Want me to priortize this song, so the sheet music is ready sooner? Click the button below and let me know – this helps me know which songs to work on next!</li>
    </ul>
    <a class="pdf_module_v2__button" target="_blank" href="mailto:play.songnotes@gmail.com?subject=Sheet music prioritzation request: {{include.song_name}}"><strong>Request This Song</strong></a>
    <p class="pdf_module_v2__footnote">To learn more about my library of song sheets & instructional PDFs, <a href="/downloads">click here</a>.</p>
  </div>
</div>

{% elsif include.pdf_version == "musicnotes" %}

  <h2>Print-Friendly Song Sheet <span class="small">{{pdf_numpages_string}}</span></h2>
  <div class="pdf_module_v2 pdf_module_v2--song">
    <a target="_blank" href="{{include.musicnotes_url}}"><div class="pdf_module_v2__image" style="background-image: url(/images/pdfs/preview/{{include.slug}}.jpg)"></div></a>
    <div class="pdf_module_v2__content">
      <p>Follow along with my print-friendly guide for this song! It's properly licensed and available for individual purchase at Musicnotes.com</p>
      <p>It includes my carefully crafted presentation of the lyrics, tabs, chord shapes, and all other info needed to play this song. On the fence? <a href="/members/how-to-buy-song-sheets" target="_blank">Here's a video guide</a> I made showing the purchase & print process.</p>
      <a class="pdf_module_v2__button" target="_blank" href="{{include.musicnotes_url}}"><strong>Buy at Musicnotes.com</strong></a>
      <p class="pdf_module_v2__footnote">Patreon supporters: <strong><a target="_blank" href="https://playsongnotes.com/discount">click here</a></strong> for this month's 50% discount code</p>
    </div>
  </div>

{% elsif include.pdf_version == "none" %}

<div class="pdf_module_v2 pdf_module_v2--song">
  <h3 class="mtn">Want me to make print-friendly sheet music for this lesson?</h3>
  <p>As of now, I have not yet made a sheet music arrangement to accompany this video lesson. If you'd like to request that I make one, <a href="mailto:play.songnotes@gmail.com?subject=Sheet Music Request for '{{include.song_name}}'">let me know</a>. I'm constantly adding back-catalog sheet music arrangements based on the songs with the most interest.</p>
  <p class="small mbn"><em><a href="http://playsongnotes.com/downloads">Learn more</a> about my sheet music and instructional PDFs.</em></p>
  </div>

{% elsif include.has_patreon_url %}

  <h2><span style="background: #FFD646; padding: 5px 7px 4px; border-radius: 3px; font-size: 13px; display: inline-block; margin-right: 3px; position: relative; top: -5px;">PDF</span> Print-friendly chord sheet available for Patreon supporters</h2>
  <ul>
    <li><a target="_blank" href="{{include.patreon_url}}"><strong>Get the PDF here</strong></a> -- after clicking and logging in to Patreon, look for the file attached to the bottom of the post.</li>
  </ul>

<p class="small"><em>Supporting me on Patreon gives you access to the PDF for this as well as <a href="http://playsongnotes.com/downloads">200+ other lessons</a>. One month minimum ($5, cancel anytime) gets you access to everything... <a href="http://playsongnotes.com/downloads">here's a free sample</a>. Thanks for supporting me and this project!</em></p>

{% else %}

  <h2>Print-friendly Song Sheet</h2>
  <p><em>This is one of my few lessons that doesn't have a printable song sheet / PDF available.  If you'd like to request I make one, <a href="mailto:play.songnotes@gmail.com?subject=Song Sheet Request for '{{include.song_name}}'">let me know</a>... it's always great to hear which lessons have the most interest.</em></p>

{% endif %}
