{% if include.has_patreon_url %}

  <h2>PDF link for Patreon supporters</h2>
  <ul>
    <li><a target="_blank" href="{{include.patreon_url}}"><strong>Get the PDF here</strong></a> -- after clicking and logging in to Patreon, look for the file attached to the bottom of the post.</li>
  </ul>

<p class="small"><em>Supporting me on Patreon gives you access to the PDF for this as well as <a href="http://playsongnotes.com/downloads">145+ other lessons</a>. One month minimum ($3, cancel anytime) gets you access to everything... <a href="http://playsongnotes.com/downloads">here's a free sample</a>. Thanks for supporting me and this project!</em></p>


{% else %}

  <h2>PDF not yet available...</h2>

  <p>I have not yet made a PDF version of this lesson. If you'd like to request that I make one, <a href="mailto:play.songnotes@gmail.com?subject=PDF Request for '{{include.song_name}}'">shoot me an email</a> and please let me know - I am always adding back catalog lessons to my PDF library.</p>
  <p class="small"><em><a href="http://playsongnotes.com/downloads">Here's a list</a> of the 145+ lessons I have made PDFs for.</em></p>

{% endif %}
