<!-- <p class="small inline-block" style="background: #FFA; padding: 16px;"><strong>📝 Print-friendly PDFs now available</strong> for all new lessons I make, including all those listed below.</strong> <a href="/downloads">Get a free sample »</a></p> -->

<p class="small inline-block" style="background: #FFA; padding: 16px;"><strong>📝 PDFs for my "song" lessons temporarily unavailable!</strong> I'm working out a proper copyright solution that will fairly credit & compensate the rights holder of each song. <a href="http://playsongnotes.com/copyright-info">Get the latest info here »</a></p>
