<div class="module-playlist">
  <h3>Members How-to Guide</h3>
  <ul>
    <li><a href="/getting-started/welcome">Thanks and Welcome!</a></li>
    <li><a href="/getting-started/how-to-search-lessons">How to Search All Lessons</a></li>
    <li><a href="/getting-started/how-to-log-in">How to Log In</a></li>
    <li><a href="/getting-started/how-to-download-pdfs">How to Download Patreon PDFs</a></li>
    <li><a href="/getting-started/how-to-buy-song-sheets">How to Buy Song Sheets</a></li>
    <li><a href="/getting-started/how-to-cancel">How to Cancel Membership</a></li>
  </ul>
</div>
