@charset "utf-8";

// Import partials.
@import
  "base/reset",
  "base/fonts",
  "base/colors",
  "base/variables",
  "base/utility",
  "base/spacing",
  "base/grid",
  "base/type"
;

// Header styling

.header-nav {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  background: #fff;
  .header-nav-inner-wrap {
    padding-top: 15px;
    padding-bottom: 6px
  }
}
.header-logo {
  float: left;
  img {
    width: 200px;
  }
}
.header-links {
  float: right;
  margin-bottom: 0;
  padding-left: 0;
  position: relative;
  top: -5px;
  li {
    list-style: none;
    display: inline-block;
    margin-left: 4px;
    a {
      // color: #3DA7ff;
      font-weight: bold;
      font-size: 13px;
      // text-transform: uppercase;
      // margin-right: 20px;
      &:hover {
        border-bottom: 2px solid #3DA7ff;
      }
    }
    a.pill-link {
      margin: 0;
      background: #eee;
      border: 1px solid #eee;
      padding: 6px 12px 5px 13px;
      border-radius: 16px;
      display: inline-block;
      font-size: 13px;
      color: $gray;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        background: #f1f1f1;
        border-color: #aaa;
      }
    }
  }
  li:first-child {
    margin-left: 0;
  }
}
@media only screen and (max-width: $breakpoint--mobile) {
  .header-nav-inner-wrap { padding-bottom: 3px; }
  .header-logo { float: none; }
  .header-logo a { width: 280px; margin: 4px auto 16px;  display: block; }
  .header-logo img { width: 100%; }
  .header-links { margin-bottom: 5px; text-align: center; float: none; }
  .header-links li {margin-left: 0;}
  .header-links li a.pill-link { font-size: 11px; padding: 4px 8px; margin-bottom: 5px; }
}

@media only screen and (max-width: 900px) {
  .header-links .normal-link {
    display: none;
  }
}

// Homepage logo

    .logo-vertical {
      width: 320px;
      margin: 24px 24px 32px;
    }

.lesson-list { border-bottom: 1px solid #e6e6e6; }
.lesson-list a {
  display: block;
  background: #fff;
  padding: 14px 18px;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  color: #333;
  position: relative;
  .lesson-list--item-wrap {
    margin-right: 50px;
  }
  .lesson-list--title {
    font-weight: bold;
  }
  .lesson-list--artist {
    font-size: 14px;
    display: block;
  }
  .lesson-list--year {
    position: absolute;
    top: 14px;
    right: 18px;
    font-size: 14px;
    color: #aaa;
  }
  .lesson-list--pdf {
    font-size: 11px;
    background: yellow;
    border-radius: 2px;
    padding: 1px 3px 0px;
    display: inline-block;
  }
}

// Nov 2019 update - lesson item

.song-listing-wrapper {
  margin: 0 auto;
  padding: 0;
}

.song-listing {
  list-style: none;
  border: 1px solid #EEE;
  background: white;
  padding: 12px;
  margin: 0 0 8px 0;
  position: relative;
  border-radius: 2px;
  h3 {
    margin: 0 72px 0 0;
    a {
      color: #000;
      display: block;
      text-decoration: none;
      &:hover span {
        border-bottom: 2px solid black;
      }
    }
  }
  p {
    margin: 0;
    font-size: 13px;
    color: #aaa;
  }
  p.featured_label {
    position: absolute;
    top: 12px;
    right: 12px;
    display: inline-block;
    color: #000;
    background: #FEDC45;
    font-weight: bold;
    padding: 2px 5px;
    font-size: 11px;
  }
  p.featured_label[data-patreon-url=""] {
    opacity: .1;
    cursor: default;
  }
}
.song-listing:last-child {
  border-bottom: 1px solid #EEE;
}



// search

#search-box {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0px 16px;
  font-size: 16px;
  height: 48px;
  margin: 0 0 28px 0;
  box-sizing: border-box;
}

#search-button {
  box-sizing: border-box;
  background: $blue;
  border-radius: none;
  color: white;
  display: inline-block;
  margin: 0;
  padding: 0 7px;
  font-size: 16px;
  height: 48px;
  &:hover {
    cursor:pointer;
  }
  -webkit-border-radius:0px;
  -webkit-appearance: none;
}

#noQueryPrompt {
  background: rgba(0,0,0,0.04);
  border-radius: 4px;
  border: 1px dashed rgba(0,0,0,0.1);
  text-align: center;
  padding: 96px 48px;
  margin: 0 0 24px 0;
  text-style: italic;
}

#yesQueryPrompt {
  display: none;
  margin-bottom: 24px;
}



// Put some space below YouTube videos, bruh
iframe {
  margin-bottom: 24px;
}


// Tag list styling

.tag-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tag-list li {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.tag-list li a {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #777;
  margin-right: 3px;
  margin-bottom: 7px;
  font-size: $font-size--xsmall;
  padding: 4px 8px;
  text-decoration: none;
}

// Lesson Head
.lesson-head {
  margin-bottom: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}
.lesson-head-prehead {
  margin: 0;
  font-size: $font-size--small;
}
.lesson-head-title {
  margin-top: 0;
  margin-bottom: 0;
}
.lesson-head-subhead {
  margin: 0 0 8px 0;
  font-size: $font-size--small;
  .lesson-head-sublink {
    color: inherit;
    text-decoration: underline;
  }
}


// SEARCH container styling

.search-ui-wrapper {
  overflow: hidden;
  width: auto;
}

@media screen and (max-width: $breakpoint--desktop) {
  .search-filters-container {
    padding-top: 16px;
  }
}

@media screen and (min-width: $breakpoint--desktop) {
    .search-results-container {
      float: right; // desktop only
      width: 70%;
    }

    .search-filters-container {
      float: left; // desktop only
      width: 25%;
    }
}


// PDF Module v2

.pdf_module_v2 {
  background: #FFFBE8;
  border: 1px solid #F4E6A3;
  border-radius: 5px;
  padding: 24px;
  overflow: hidden;
  width: auto;
}
.pdf_module_v2__image {
  float: left;
  width: 200px;
  height: 262px;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}
.pdf_module_v2__content {
  float: right;
  width: calc(100% - 200px - 24px);
}
.pdf_module_v2__headline {
  float: right;
  width: calc(100% - 200px - 24px);
  font-size: 21px;
  margin-top: 0;
  span {
    font-size: 14px;
    color: #C1B36D;
    padding-left: 6px;
    white-space: nowrap;
  }
}
.pdf_module_v2__list {
  padding-left: 18px;
}
.pdf_module_v2__button {
  display: inline-block;
  background: #295BFA;
  border-radius: 3px;
  color: white;
  padding: 10px 18px;
  margin-bottom: 16px;
  text-decoration: none;

}
.pdf_module_v2__footnote {
  // display: inline;
  font-size: 12px;
  line-height: 15px;
  font-style: italic;
  margin-bottom: 0;

}

@media screen and (max-width: 540px) {
  // .pdf_module_v2 {
  //   padding: 16px;
  // }
  .pdf_module_v2__image {
    float: none;
    display: block;
    margin: 0 auto 24px;
    width: 290px;
    height: 381px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  }
  .pdf_module_v2__content {
    float: none;
    // width: calc(100% - 100px - 16px);
    width: 100%;
  }
  .pdf_module_v2__headline {
    float: none;
    width: auto;
    text-align: center;
  }
  .pdf_module_v2__list {
    font-size: 14px;
    padding-left: 16px;
  }
  .pdf_module_v2__button {
    display: block;
    text-align: center;
  }
  .pdf_module_v2__footnote {
    text-align: center;
  }
}

@media screen and (max-width: 410px) {
  .pdf_module_v2__headline {
    font-size: 16px;
  }
}


// Multi Column Aritst

.multi_column_list {
   column-count: 3;
   column-width: 300px;
   width: 1200px;
}
@media screen and (max-width: 900px) {
  .multi_column_list {
    column-count: 2;
    width: 900px;
  }
}

@media screen and (max-width: 480px) {
  .multi_column_list {
    column-count: 1;
    width: 100%;
  }
}

// Lessons admin page

[data-patreon-url=""] {
  opacity: .1;
  cursor: default;
}

tr[data-pdf-v2="v2"] td {
  background: #BFFFD7;
}

#all_lessons_list {
  background: white;
}

#all_lessons_list td {
  padding: 10px;
  border-top: 2px solid black;
  vertical-align: top;
}

#all_lessons_list td a {
  font-family:   $font-family--bold;
  color: black;
  text-decoration: none;
}

#all_lessons_list img {
  width: 90px;
  height: 118px;
  border: 1px solid #aaa;
}

// Featuerd module - for downloads page (Sept 2020)

.featured_module {
  background: #FFFBE8;
  border: 1px solid #F4E6A3;
  border-radius: 5px;
  padding: 24px;
}


// Browse tiles -- e.g. for Homepage

.browse_tiles {
  margin: 0; padding: 0;
}

.browse_tiles li {
  list-style-type: none;
  margin: 0 4px 8px 0;
  display: inline-block;
}

.browse_tiles li a {
  display: inline-block;
  background: white;
  border: 1px solid #aaa;
  padding: 8px 16px;
  font-family: $font-family--bold;
  color: #0074D9;
  font-size: 14px;
  text-decoration: none;
  border-radius: 3px;
}
