@charset "utf-8";

// Import partials.
@import
  "base/reset",
  "base/colors",
  "base/variables",
  "base/utility",
  "base/spacing",
  "base/grid",
  "base/type"
;

// Header styling

.header-nav {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  background: #fff;
  .header-nav-inner-wrap {
    padding-top: 15px;
    padding-bottom: 6px
  }
}
.header-logo {
  float: left;
  img {
    width: 200px;
  }
}
.header-links {
  float: right;
  margin-bottom: 0;
  padding-left: 0;
  position: relative;
  top: -5px;
  li {
    list-style: none;
    display: inline-block;
    a {
      // color: #3DA7ff;
      font-weight: bold;
      font-size: 13px;
      text-transform: uppercase;
      margin-right: 20px;
      &:hover {
        border-bottom: 2px solid #3DA7ff;
      }
    }
    a.pill-link {
      margin: 0;
      background: #eee;
      border: 1px solid #eee;
      padding: 6px 12px 5px 13px;
      border-radius: 16px;
      display: inline-block;
      font-size: 13px;
      color: $gray;
      font-weight: bold;
      &:hover {
        background: #f1f1f1;
        border-color: #aaa;
      }
    }
  }
}
@media only screen and (max-width: $breakpoint--mobile) {
  .header-nav-inner-wrap { padding-bottom: 3px; }
  .header-logo img { width: 140px; }
  .header-links li a { font-size: 12px; padding: 4px 10px; }
}

@media only screen and (max-width: 900px) {
  .header-links .normal-link {
    display: none;
  }
}

// Homepage logo

    .logo-vertical {
      width: 320px;
      margin: 24px 24px 32px;
    }

.lesson-list { border-bottom: 1px solid #e6e6e6; }
.lesson-list a {
  display: block;
  background: #fff;
  padding: 14px 18px;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  color: #333;
  position: relative;
  .lesson-list--item-wrap {
    margin-right: 50px;
  }
  .lesson-list--title {
    font-weight: bold;
  }
  .lesson-list--artist {
    font-size: 14px;
    display: block;
  }
  .lesson-list--year {
    position: absolute;
    top: 14px;
    right: 18px;
    font-size: 14px;
    color: #aaa;
  }
  .lesson-list--pdf {
    font-size: 11px;
    background: yellow;
    border-radius: 2px;
    padding: 1px 3px 0px;
    display: inline-block;
  }
}
