@charset "utf-8";

// Import partials.
@import
  "base/reset",
  "base/colors",
  "base/variables",
  "base/type",
  "base/utility",
  "base/spacing",
  "base/grid",
  "base/header",
  "base/breadcrumbs",
  "base/tiles",
  "base/fretMonster",
  "base/courses",
  "base/pdfbadge"
;







// Homepage logo

    .logo-vertical {
      width: 320px;
      margin: 24px 24px 32px;
    }

.lesson-list { border-bottom: 1px solid #e6e6e6; }
.lesson-list a {
  display: block;
  background: #fff;
  padding: 14px 18px;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  color: #333;
  position: relative;
  .lesson-list--item-wrap {
    margin-right: 50px;
  }
  .lesson-list--title {
    font-weight: bold;
  }
  .lesson-list--artist {
    font-size: 14px;
    display: block;
  }
  .lesson-list--year {
    position: absolute;
    top: 14px;
    right: 18px;
    font-size: 14px;
    color: #aaa;
  }
  .lesson-list--pdf {
    font-size: 11px;
    background: yellow;
    border-radius: 2px;
    padding: 1px 3px 0px;
    display: inline-block;
  }
}

// Nov 2019 update - lesson item

.song-listing-wrapper {
  margin: 0 auto;
  padding: 0;
}

.song-listing {
  list-style: none;
  border: 1px solid #EEE;
  background: white;
  padding: 12px;
  margin: 0 0 8px 0;
  position: relative;
  border-radius: 2px;
  h3 {
    margin: 0 90px 0 0;
    a {
      color: #000;
      display: block;
      text-decoration: none;
      &:hover span {
        border-bottom: 2px solid black;
      }
    }
  }
  p {
    margin: 0;
    font-size: 13px;
    color: #aaa;
  }
  p.pdf-badge {
    position: absolute;
    top: 12px;
    right: 12px;
    display: inline-block;
    color: #000;
    padding: 2px 5px;
    font-size: 11px;
  }
  p.pdf-badge[data-pdf-version="v2"],
  p.pdf-badge[data-pdf-version="v1"] {
    background-color: $color-pdf-patreon;
    .pdf-icon {
      color: $color-pdf-patreon--icon;
    }
  }
  p.pdf-badge[data-pdf-version="musicnotes"] {
    background-color: $color-pdf-song;
    .pdf-icon {
      color: $color-pdf-song--icon;
    }
  }

  p.pdf-badge[data-patreon-url=""],
  p.pdf-badge[data-pdf-version="copyright"] {
    opacity: .1;
    cursor: default;
  }
}
.song-listing:last-child {
  border-bottom: 1px solid #EEE;
}



// search

#search-box {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0px 16px;
  font-size: 16px;
  height: 48px;
  margin: 0 0 28px 0;
  box-sizing: border-box;
  outline: none;
}
#search-box:focus {
  outline-width: 0;
  outline: none;
}

#search-button {
  box-sizing: border-box;
  background: $blue;
  border-radius: none;
  color: white;
  display: inline-block;
  margin: 0;
  padding: 0 7px;
  font-size: 16px;
  height: 48px;
  &:hover {
    cursor:pointer;
  }
  -webkit-border-radius:0px;
  -webkit-appearance: none;
}

#noQueryPrompt {
  background: rgba(0,0,0,0.04);
  border-radius: 4px;
  border: 1px dashed rgba(0,0,0,0.1);
  text-align: center;
  padding: 96px 48px;
  margin: 0 0 24px 0;
  text-style: italic;
}

#yesQueryPrompt {
  display: none;
  margin-bottom: 24px;
}



// Put some space below YouTube videos, bruh
iframe {
  margin-bottom: 24px;
}


// Tag list styling

.tag-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tag-list li {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.tag-list li a {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #777;
  margin-right: 3px;
  margin-bottom: 7px;
  font-size: $font-size--xsmall;
  padding: 4px 8px;
  text-decoration: none;
}

// Lesson Head
.lesson-head {
  margin-bottom: 4px;
}
.lesson-head-prehead {
  margin: 0;
  font-size: $font-size--small;
}
.lesson-head-title {
  margin-top: 0;
  margin-bottom: 0;
}
.lesson-head-subhead {
  margin: 0 0 24px 0;
  font-size: 13px;
  padding-bottom: 18px;
  border-bottom: 1px solid #DCE3EA;
  .lesson-head-sublink {
    color: inherit;
    text-decoration: underline;
  }
}
.lesson-head-subhead + h2 {
  margin-top: 16px;
}


// SEARCH container styling

.search-ui-wrapper {
  overflow: hidden;
  width: auto;
}

@media screen and (max-width: $breakpoint--desktop) {
  .search-filters-container {
    padding-top: 16px;
  }
}

@media screen and (min-width: $breakpoint--desktop) {
    .search-results-container {
      float: right; // desktop only
      width: 70%;
    }

    .search-filters-container {
      float: left; // desktop only
      width: 25%;
    }
}


// PDF Module v2

.pdf_module_v2 {
  background: #FFFBE8;
  border: 1px solid #F4E6A3;
  border-radius: 5px;
  padding: 24px;
  overflow: hidden;
  width: auto;
  &.pdf_module_v2--song {
    background: $color-pdf-song;
    border-color: $color-pdf-song--border;
    .pdf_module_v2__headline span {
      color: $color-pdf-song--icon;
    }
  }
}
.pdf_module_v2__image {
  float: left;
  width: 158px;
  height: 208px;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}
.pdf_module_v2__content {
  float: right;
  width: calc(100% - 158px - 24px);
}
.pdf_module_v2--no-thumbnail .pdf_module_v2__headline,
.pdf_module_v2--no-thumbnail .pdf_module_v2__content {
  float: none;
  width: auto;
}
.pdf_module_v2__headline {
  float: right;
  width: calc(100% - 158px - 24px);
  font-size: 18px;
  margin-top: 0;
  span {
    font-size: 14px;
    color: #C1B36D;
    padding-left: 6px;
    white-space: nowrap;
  }
}
.pdf_module_v2__list {
  padding-left: 18px;
}
.pdf_module_v2__button {
  display: inline-block;
  background: #295BFA;
  border-radius: 3px;
  color: white;
  padding: 10px 18px;
  margin-bottom: 16px;
  text-decoration: none;

}
.pdf_module_v2__footnote {
  // display: inline;
  font-size: 12px;
  line-height: 15px;
  font-style: italic;
  margin-bottom: 0;
}

.col-8 .pdf_module_v2 {
  font-size: 13px;
  .pdf_module_v2__image {
    width: 140px;
    height: 184px;
  }
  .pdf_module_v2__content {
    width: calc(100% - 140px - 24px);
  }
}



@media screen and (max-width: 540px) {
  // .pdf_module_v2 {
  //   padding: 16px;
  // }
  .pdf_module_v2__image {
    float: none;
    display: block;
    margin: 0 auto 24px;
    width: 290px;
    height: 381px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  }
  .col-8 .pdf_module_v2 .pdf_module_v2__content,
  .pdf_module_v2__content {
    float: none;
    // width: calc(100% - 100px - 16px);
    width: 100%;
  }
  .pdf_module_v2__headline {
    float: none;
    width: auto;
    text-align: center;
  }
  .pdf_module_v2__list {
    font-size: 14px;
    padding-left: 16px;
  }
  .pdf_module_v2__button {
    display: block;
    text-align: center;
  }
  .pdf_module_v2__footnote {
    text-align: center;
  }
}
.pdf_module_v2__for_sale_footer {
  margin-top: 24px;
  margin-bottom: 48px;
  font-style: italic;
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 410px) {
  .pdf_module_v2__headline {
    font-size: 16px;
  }
}


// Multi Column Aritst

.multi_column_list {
   column-count: 3;
   column-width: 300px;
   width: 1200px;
}
@media screen and (max-width: 900px) {
  .multi_column_list {
    column-count: 2;
    width: 900px;
  }
}

@media screen and (max-width: 480px) {
  .multi_column_list {
    column-count: 1;
    width: 100%;
  }
}

// Lessons admin page

[data-patreon-url=""] {
  opacity: .1;
  cursor: default;
}

tr[data-pdf-v2="v2"] td {
  background: #BFFFD7;
}

tr[data-pdf-v2="v1"] td {
  background: #ffa;
}

#all_lessons_list {
  background: white;
}

#all_lessons_list td {
  padding: 10px;
  border-top: 2px solid black;
  vertical-align: top;
}

#all_lessons_list td a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

#all_lessons_list img {
  width: 90px;
  height: 118px;
  border: 1px solid #aaa;
}

// Featuerd module - for downloads page (Sept 2020)

.featured_module {
  background: #FFFBE8;
  border: 1px solid #F4E6A3;
  border-radius: 5px;
  padding: 24px;
}


// Browse tiles -- e.g. for Homepage

.browse_tiles {
  margin: 0; padding: 0;
}

.browse_tiles li {
  list-style-type: none;
  margin: 0 4px 8px 0;
  display: inline-block;
}

.browse_tiles li a {
  display: inline-block;
  background: white;
  border: 1px solid #aaa;
  padding: 8px 16px;
  font-weight: bold;
  color: #0074D9;
  font-size: 14px;
  text-decoration: none;
  border-radius: 3px;
}

// Gallery of latest lessons -- for homepage -- Nov 18, 2020

.homepage-latest-gallery {
  list-style: none;
  min-height: 360px;
  width: 320px;
  display: inline-block;
  text-align: center;
  vertical-align:top;
  a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }
  div.pdf-thumbnail {
    width: 200px;
    height: 262px;
    margin: 0 auto 18px;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.1);
  }
  div.video-thumbnail {
    width: 280px;
    height: 157px;
    margin: 0 auto 18px;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.1);
  }
  h3 {
    font-size: 19px;
    line-height: 1.4;
    margin: 0 0 5px 0;
    // text-decoration: underline;
  }
  h4 {
    font-size: 14px;
    font-weight: normal;
    font-family: $font-family--default;
    margin: 0 0 5px 0;
  }
  h5 {
    font-size: 14px;
    color: #aaa;
    font-weight: normal;
    font-family: $font-family--default;
    margin: 0 0 5px 0;
  }
  h6 {
    font-size: 14px;
    // color: #aaa;
    font-weight: normal;
    font-family: $font-family--default;
    margin: 0;
    text-decoration: underline;
    color: $link-color;
  }
}

//  testimonial

.testimonial {
  list-style: none;
  // width: 320px;
  background: white;
  padding: 24px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

// "Lessons" pills/tabs - from May 2021

.tabs_may2021 a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  border: 2px solid $link-color;
  border-radius: 1345px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 8px;
}

    @media only screen and (max-width: $breakpoint--mobile) {
      .tabs_may2021 {
        text-align: center;
      }
      .tabs_may2021 a {
        font-size: 11px;
        padding: 5px 9px 4px;
        margin-right: 1px;
        margin-bottom: 6px;
      }
    }

.tabs_may2021 a.active {
  background: $link-color;
  color: white;
}

      // Secondary tabs

      .tabs_may2021--secondary {
        border-bottom: 1px solid #ddd;
        padding-top: 8px;
        padding-bottom: 24px;
      }
      .tabs_may2021--secondary a {
        text-decoration: none;
        margin: 0 4px;
      }
      .tabs_may2021--secondary a.active {
        border-bottom: 2px solid $link-color;
      }








// "Lessons" - listing design

.listing_may2021 {
  margin: 0 0 16px 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ddd;
  // padding-bottom: 12px;
}

.listing_may2021 li {
  overflow: hidden;
  width: auto;
  padding-top: 12px;
  border-top: 1px solid #ddd;
  position: relative;
  min-height: 120px;
}

    @media only screen and (max-width: $breakpoint--mobile) {
      .listing_may2021 li {
        min-height: 85px;
      }
    }

.listing_may2021--thumbnail {
  position: absolute;
  left: 0;
  top: 12px;
  background-repeat: no-repeat;
  background-size: 166px 94px;
  width: 166px; height: 94px;
}

    @media only screen and (max-width: $breakpoint--mobile) {
      .listing_may2021--thumbnail {
        background-size: 130px 73px;
        width: 130px; height: 73px;
      }
    }

.listing_may2021--title {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 178px;
  font-size: 19px;
}

    @media only screen and (max-width: $breakpoint--mobile) {
      .listing_may2021--title {
        margin-top: 2px;
        font-size: 14px;
        margin-bottom: 2px;
        margin-left: 142px;
      }
    }

.listing_may2021--meta {
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 178px;
}

    @media only screen and (max-width: $breakpoint--mobile) {
      .listing_may2021--meta {
        font-size: 12px;
        margin-bottom: 1px;
        margin-left: 142px;
      }
    }

.listing_may2021--pdf {
  margin-left: 178px;
  margin-bottom: 4px;
}

    @media only screen and (max-width: $breakpoint--mobile) {
      .listing_may2021--pdf {
        margin-left: 142px;
      }
    }

.listing_may2021--pdf a {
  text-decoration: none;
  background: $color-pdf-patreon;
  display: inline-block;
  padding: 2px 5px;
  color: #222;
  font-size: 11px;
  border-radius: 3px;
  .pdf-icon { color: $color-pdf-patreon--icon; }
}

.listing_may2021--pdf.pdf--musicnotes a {
  background: $color-pdf-song;
  .pdf-icon { color: $color-pdf-song--icon; padding: 0 2px; }
}

    @media only screen and (max-width: $breakpoint--mobile) {
      .listing_may2021--pdf a {
        font-size: 10px;
        padding: 1px 3px;
      }
    }

.listing_may2021--pdf-copyright a {
  background: #eee;
  color: #888;
  font-family: $font-family--default;
}

.listing_may2021--pdf-none a {
  background: #fff;
  border: 1px solid #aaa;
  color: #888;
}



// FAQ module (Aug 2, 2021)

.question-wrapper {
  background: #FFF2D0;
  padding: 24px;
  border-radius: 6px;
  margin: 0 0 12px 0;
  .question-heading {
    margin: 0 0 0 0;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
  .question-body {
    display: none;
  }
  .question-body :last-child {
    margin-bottom: 0;
  }
  &.question-opened {
    .question-heading {
      text-decoration: none;
      margin-bottom: 12px;
    }
    .question-body {
      display: block;
    }
  }
}

// SIDE MODULE PLAYLIST UI

.module-playlist {
  background: white;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  padding-bottom: 8px;
  margin-bottom: 24px;
}
.playlist-item-active { background: $color-pdf-patreon; }

.module-playlist h3 {
  padding: 16px 16px 12px;
  margin: 0;
  font-size: 14px;
}

.module-playlist ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.module-playlist ul li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: $black;
  font-size: 14px;
}

// TABS April 2022

.tabs-2022 {
  margin: 0 0 72px;
  padding: 0;
  justify-content: center;
  display: flex;
  list-style: none;
}
.tabs-2022 li {
  font-weight: bold;
  display: inline-block;
  margin: 0 12px;
  text-align: center;
}
.tabs-2022 li a {
  text-decoration: none;
  padding-bottom: 6px;
  color: $gray-dark;
  display: block;
}
.tabs-2022 li a:hover {
  color: $link-color;
}
.tabs-2022 li a.tabs-2022--active {
  color: $link-color;
  border-bottom: 5px solid $link-color;
}


// BROWSE BAR July 2022

.browse_bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54px;
  background: rgba(255,255,255,0.85);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0px -8px 8px rgba(0,0,0,0.02);
  p {
    margin-top: 8px;
  }
  strong {
    display: block;
  }
  a {
    display: inline-block;
    // position: relative;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
  }
}
.browse_bar__left {
  float: left;
  text-align: left;
  margin-left: 16px;
}
.browse_bar__right {
  float: right;
  text-align: right;
  margin-right: 16px;
}

@media only screen and (max-width: $breakpoint--mobile) {
  .browse_bar { display: none; }
}


// RESPONSIVE VIDEO EMBEDS July 2022

.video-container {
  position:relative;
  padding-bottom:56.25%;
  height:0;
  overflow:hidden;
  margin-bottom: 32px;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


// SIDEBAR on lesson page July 2022

@media only screen and (min-width: $breakpoint--mobile) {
  .lesson_page_sidebar { padding-left: 40px; }
}
