

.waves,
.note[data-interval='1'] {
    -webkit-animation: waves 1.2s linear infinite;
    animation: waves 1.2s linear infinite
}

.note[data-interval='1'].noHighlight {
    -webkit-animation: none;
    animation: none;
}


@-webkit-keyframes waves {
    from {
        box-shadow: 0 0 0 0 #f7f7f7, 0 0 0 1px rgba(0,0,0, 0.5)
    }

    to {
        box-shadow: 0 0 0 6px #f7f7f7, 0 0 0 12px rgba(0,0,0, 0)
    }
}

@keyframes waves {
    from {
        box-shadow: 0 0 0 0 #f7f7f7, 0 0 0 1px rgba(0,0,0, 0.5)
    }

    to {
        box-shadow: 0 0 0 6px #f7f7f7, 0 0 0 12px rgba(0,0,0, 0)
    }
}

.fretboard_wrapper {
    max-width: 1161px;
    overflow-y: auto;
    position: relative;
    _overflow: auto;
    margin: 0 auto 1em;
    padding: 1em 0 3.5em
}

.fretboard {
    position: absolute;
    left: 3rem
}

.table_wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px
}

.table_wrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: #eee
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td {
    padding: 0
}

table.string_labels {
    float: left;
    margin-left: 1.5rem
}

table.string_labels .cell {
    height: 2.25rem;
    width: 1.875rem;
    margin-bottom: 3px;
    line-height: 2.25rem;
    top: 1.125rem;
    color: #ccc;
    font-size: .9rem
}

.cell {
    width: 3.75rem;
    height: 2.25rem;
    position: relative
}

.string {
    border-bottom: 3px solid #ccc
}

.fret--open {
    border-right: 4px solid #ccc
}

.fret--hasBG {
    background: transparent;
    border-right: 1px solid rgba(204, 204, 204, 0.5)
}

.fret--trailer {
    width: .75rem;
    border-right: none
}

.fret--fretNum {
    text-align: center;
    line-height: 4.05rem;
    color: #000;
    font-size: .9rem;
    padding-top: 8px;
}

.string:first-child .fret {
    background: none;
    border-right-color: transparent;
    border-left-color: transparent
}

.note {
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    top: 1.125rem;
    line-height: 2rem;
    margin-top: .125rem;
    margin-left: -1rem;
    left: 50%;
    background: #eee;
    position: absolute;
    text-align: center;
    font-weight: 400;
    color: #000;
    z-index: 1;
    font-size: 0.875rem;
    border: 1px solid #000;
}

.note[data-interval='1'],
.note.highlight {
    background: #000;
    color: #fff;
    font-weight: bold
}
.note[data-interval='1'].noHighlight {
  background: #eee;
  color: #000;
  font-weight: normal;
}

.active, .active--toggle {
    background: #000;
    color: #fff
}

.key_selector a {
    display: inline-block;
    padding: 5px
}

.scale_selector a {
    display: inline-block;
    padding: 5px
}

@media screen and (max-width: 767px) {

    .mobile-show,
    .mobile-block {
        display: block !important
    }

    .mobile-block {
        width: 100%
    }
}

.js-overlay {
    width: 300px;
    border-radius: .5rem
}

.has-scrollbars::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 20px;
    height: 20px
}

.has-scrollbars::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 6px solid #eee;
    background-color: #bbb
}

/*# sourceMappingURL=i.css.map */


.keyChangeFwd,
.keyChangePrev {
  display: inline-block;
  background: yellow;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 21px;
  background: black;
  color: white;
  text-align: center;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.keyChangeFwd  { padding-right: 4px; }
.keyChangePrev { padding-left:  4px; margin-left: 10px; }
