---
layout: default
---
{% include header-nav.html %}


<div class="container--col-8">

  <h1 class="center mtxl mbl">Pick up your guitar and play!</h1>

<div style="text-align: center;">
  <form action="/search/" method="get" style="display: inline-block; text-align: left;">
    <input style="font-size: 14px; width: 320px;" type="text" id="search-box" name="query" placeholder="Search by song, artist, or lesson number">
    <input type="submit" value="Search" id="search-button">
  </form>
</div>


  <p class="center mbl">Easy-to-follow guitar lessons.<br />Made by @davidpots in Austin, TX.</p>
  <p class="center small">If these lessons are helpful to you, please <br />consider donating to the <a class="underline" href="https://paypal.me/songnotes">tip jar</a>. Thanks!</p>


  <p class="center small mbs">Subscribe and never miss a lesson:</p>

  <script src="https://apis.google.com/js/platform.js"></script>
  <div class="center">
    <div class="g-ytsubscribe" data-channel="playsongnotes" data-layout="default" data-count="default"></div>
  </div>

  <div style="text-align: center; background: #FFA; padding: 16px 16px 18px; margin: 24px auto;">
    <p class="mbs"><strong>Psst... I just setup a Patreon page!</strong></p>
    <p class="mbs small">Get print-friendly PDFs for each new lesson I make for only $3/month <span class="smaller">(<a href="/downloads">view free sample</a>)</span></p>
    <a style="margin-top: 4px; display: inline-block; padding: 10px 18px; background: #0074D9; font-weight: bold; color: white; border-radius: 5px;" href="http://patreon.com/songnotes">Support me on Patreon</a>
  </div>

<h2>My latest videos & PDFs</h2>

<h3 class="mtl">Newest videos</h3>
<p>Each video linked below includes a print-friendly PDF, hot off the press! It's a great way to follow along with each video.</p>
{% include latest-uploads.html %}

<h3 class="mtl">Latest back-catalog PDFs</h3>
<p>In addition to new videos, here are brand new PDFs I've created for older video lessons in my library. My goal is to have a PDF for every video I've created.
{% include latest-pdfs.html %}

<p>Don't forget to check out <a href="/downloads">my full library of PDFs</a> (which includes a free sampler pack).</p>

<h2 id="heading-songs" class="mtl">Song video lessons:</h2>

  <ul class="list-plain lesson-list">

    {% assign sorted_songs = site.lessons | where: "category", "full_song" | sort: 'song_title' %}

    {% for song in sorted_songs %}
      {% if song.category == "full_song" %}

      <li>
        <a href="{{ song.url | relative_url }}">
          <div class="lesson-list--item-wrap">
            <span class="lesson-list--title">{{ song.song_title | escape }}</span>
            {% if song.patreon_lesson_available == true %}
              <span class="lesson-list--pdf">PDF</span>
            {% endif %}
            <span class="lesson-list--artist">{{ song.artist }}</span>
          </div>

          <span class="lesson-list--year">{{ song.year }}</span>
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>







</div>

<div class="mtxl ptxl" style="box-shadow: 0px -2px 5px rgba(0,0,0,0.1); background: #fff;">
  <div class="container">

  <h2>Enjoy my lessons? Buy me a beer!</h2>
  <p class="">If this and my other lessons have proven helpful to you, please consider making a <a class="underline bold" href="https://paypal.me/songnotes">one-time donation to my tip jar</a>. Contributions of <em>any</em> amount help make this project possible (including the many, many hours I put into it).</p>

  <p>You can also <a href="https://www.patreon.com/songnotes">support me on Patreon</a>. For only $3/month you'll get access to a print-friendly PDF of my notes for each lesson.</p>

  <p>Thanks!</p>

  <hr />
  <h2>Subscribe to my YouTube channel</h2>
  <p>Be sure to never miss a lesson by subscribing on YouTube. I put out 2-3 new videos every week. These include full song lessons, as well as covers, practice tips, behind-the-scenes updates. Thanks!</p>

  <script src="https://apis.google.com/js/platform.js"></script>
  <div class="g-ytsubscribe" data-channel="playsongnotes" data-layout="full" data-count="default"></div>



    <br />
  </div>
