---
layout: default
---



<div class="container--col-8">

  <div class="center mtm"><img class="logo-vertical" src="{{site.baseurl}}/images/logo/songnotes-logo-vertical.svg" /></div>
  <p class="center mbl">Easy-to-follow guitar lessons.<br />Made by @davidpots in Austin, TX.</p>
  <p class="center small">If these lessons are helpful to you, please <br />consider donating to the <a class="underline" href="https://paypal.me/songnotes">tip jar</a>. Thanks!</p>

  <p class="center small mbs">Subscribe and never miss a lesson:</p>

  <script src="https://apis.google.com/js/platform.js"></script>
  <div class="center">
    <div class="g-ytsubscribe" data-channel="playsongnotes" data-layout="default" data-count="default"></div>
  </div>

  <!-- <h3>Welcome!</h3>
  <p>Hello there. Welcome to the new Songnotes webpage. The old Songnotes webpage, which has my non-video lessons, can still be found by visting <a href="http://www.songnotes.cc">www.songnotes.cc</a>.

  <h3>Video lessons</h3>
  <p>Here's a list of all the video lessons I've made sine 2014. Notes, tabs, and the video for each lesson can be found via the links below. If you enjoy my videos, please subscribe so you never miss a lesson.</p> -->

<!-- <p>If you find my lessons helpful, please consider a small donation to my tip jar ✌️</p> -->
<!-- <h3 class="mtl">Tip Jar</h3> -->

<h3 class="mtl">Recent video lessons:</h3>
<ul>
  <!-- <li><a class="underline" href="________"><strong>___________</strong></a> by __________<br /><em>________</em></li> -->





  <li><a class="underline" href="/songs/guns-n-roses-sweet-child-o-mine/"><strong>Sweet Child O' Mine</strong></a> by Guns N' Roses<br /><em>June 3, 2018</em></li>
  <li><a class="underline" href="/songs/nirvana-all-apologies/"><strong>All Apologies</strong></a> by Nirvana<br /><em>May 26, 2018</em></li>
  <li><a class="underline" href="/songs/wyclef-jean-gone-till-november/"><strong>Gone Till November</strong></a> by Wyclef Jean<br /><em>May 21, 2018</em></li>
  <li><a class="underline" href="/songs/radiohead-creep/"><strong>Creep</strong></a> by Radiohead<br /><em>May 11, 2018</em></li>
  <li><a class="underline" href="/songs/childish-gambino-this-is-america/"><strong>This is America</strong></a> by Childish Gambino<br /><em>May 8, 2018</em></li>
  <li><a class="underline" href="/songs/john-denver-take-me-home-country-roads/"><strong>Take Me Home, Country Roads</strong></a> by John Denver<br /><em>May 6, 2018</em></li>
  <li><a class="underline" href="/songs/shawn-mendes-youth/"><strong>Youth</strong></a> by Shawn Mendes ft. Khalid<br /><em>May 5, 2018</em></li>
  <li><a class="underline" href="/songs/anne-marie-2002/"><strong>2002</strong></a> by Anne-Marie<br /><em>May 2, 2018</em></li>
  <li><a class="underline" href="/songs/jack-johnson-banana-pancakes/"><strong>Banana Pancakes</strong></a> by Jack Johnson<br /><em>Apr 29, 2018</em></li>
  <li><a class="underline" href="/songs/kacey-musgraves-family-is-family/"><strong>Family is Family</strong></a> by Kacey Musgraves<br /><em>Apr 27, 2018</em></li>
  <li><a class="underline" href="/songs/kacey-musgraves-butterflies/"><strong>Butterflies</strong></a> by Kacey Musgraves<br /><em>Apr 24, 2018</em></li>
  <li><a class="underline" href="/songs/johnny-cash-tennessee-flat-top-box/"><strong>Tennessee Flat Top Box</strong></a> by Johnny Cash<br /><em>Apr 21, 2018</em></li>
  <li><a class="underline" href="/songs/taylor-swift-september/"><strong>September</strong></a> by Taylor Swift<br /><em>Apr 18, 2018</em></li>
  <li><a class="underline" href="/songs/ed-sheeran-candle-in-the-wind/"><strong>Candle in the Wind</strong></a> by Ed Sheeran<br /><em>Apr 15, 2018</em></li>
  <li><a class="underline" href="/songs/post-malone-stay/"><strong>Stay</strong></a> by Post Malone<br /><em>Apr 13, 2018</em></li>
  <li><a class="underline" href="/songs/shawn-mendes-in-my-blood/"><strong>In My Blood</strong></a> by Shawn Mendes<br /><em>Apr 10, 2018</em></li>
  <li><a class="underline" href="/songs/kacey-musgraves-slow-burn/"><strong>Slow Burn</strong></a> by Kacey Musgraves<br /><em>Apr 3, 2018</em></li>
  <li><a class="underline" href="/songs/willie-nelson-on-the-road-again/"><strong>On the Road Again</strong></a> by Willie Nelson<br /><em>Mar 8, 2018</em></li>
</ul>

<h3 class="mtl">Browse all video lessons:</h3>
  <ul class="list-plain lesson-list">

    {% assign sorted_songs = (site.songs | sort: 'song_title') %}

    {% for song in sorted_songs %}
      <li>
        <a href="{{ song.url | relative_url }}">
          <div class="lesson-list--item-wrap">
            <span class="lesson-list--title">{{ song.song_title | escape }}</span>
            <span class="lesson-list--artist">{{ song.artist }}</span>
          </div>
          <span class="lesson-list--year">{{ song.year }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>

</div>

<div class="mtxl ptxl" style="box-shadow: 0px -2px 5px rgba(0,0,0,0.1); background: #fff;">
  <div class="container">

  <h2>Enjoy my lessons? Buy me a beer!</h2>
  <p class="">If this and my other lessons have proven helpful to you, please consider <a class="underline bold" href="https://paypal.me/songnotes">donating to my tip jar</a>. Contributions of <em>any</em> amount help make this project possible (including the many, many hours I put into it). Thanks!</p>

  <hr />
  <h2>Subscribe to my YouTube channel</h2>
  <p>Be sure to never miss a lesson by subscribing on YouTube. I put out 2-3 new videos every week. These include full song lessons, as well as covers, practice tips, behind-the-scenes updates. Thanks!</p>

  <script src="https://apis.google.com/js/platform.js"></script>
  <div class="g-ytsubscribe" data-channel="playsongnotes" data-layout="full" data-count="default"></div>

  <hr />

  <h2>Monthly email updates</h2>
  <p>If you want to keep posted of new lessons over email, sign up for my newsletter. I'll email once a month with a digest of all my new videos. I promise: no spam.</p>
  {% include mailchimp.html %}


    <br />
  </div>
