---
layout: default
---



<div class="container--col-8">
  <h2>Video lessons</h2>

  <ul class="list-plain">

    {% assign sorted_songs = (site.songs | sort: 'title') %}

    {% for song in sorted_songs %}
      <li>

        <h2 class="mbn"><a class="post-link" href="{{ song.url | relative_url }}">{{ song.title | escape }}</a></h2>
        <p>{{ song.artist }} <span class="gray-light">({{ song.year }})</span></p>

      </li>
    {% endfor %}
  </ul>
</div>



<!-- Stuff I ripped out -->

<!-- {{ song.date | date: "%B %-d, %Y" }} -->

  <!-- <h1>Posts</h1>

  {{ content }}

  <ul>
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          {{ post.date | date: date_format }}
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->
