---
layout: default
---
<article>


  <!-- Title -->
  {% include header-nav.html %}


<div class="container ptl">

  {% if page.category == "full_song" %}
    <p class="h3 mbn">Guitar lesson for</p>
    <h1 class="mtn mbn">{{ page.song_title | escape }}</h1>
    <p style="border-bottom: 1px solid #ddd; padding-bottom: 12px;" class="h3 mtn">by <span>{{ page.artist | escape }}</span></p>
  {% endif %}

  {% if page.category == "warmup" %}
    <p class="h3 mbn">Warm Up Exercise</p>
    <h1 class="mtn mbn">{{ page.title | escape }}</h1>
    <p style="border-bottom: 1px solid #ddd; padding-bottom: 12px;" class="h3 mtn">Lesson #{{ page.slug }}</p>
  {% endif %}

  {% if page.category == "practice_log" %}
    <p class="h3 mbn">Practice Log</p>
    <h1 class="mtn mbn">{{ page.title | escape }}</h1>
    <p style="border-bottom: 1px solid #ddd; padding-bottom: 12px;" class="h3 mtn">Lesson #{{ page.slug }}</p>
  {% endif %}



  <!-- Content -->
  {{ content }}

  </div>

<div class="mtxl ptxl" style="box-shadow: 0px -2px 5px rgba(0,0,0,0.1); background: #fff;">
  <div class="container">

  <h2>Enjoy my lessons? Buy me a beer!</h2>
  <p class="">If this and my other lessons have proven helpful to you, please consider making a <a class="underline bold" href="https://paypal.me/songnotes">one-time donation to my tip jar</a>. Contributions of <em>any</em> amount help make this project possible (including the many, many hours I put into it).</p>

  <p>You can also <a class="underline bold" href="https://www.patreon.com/songnotes">support me on Patreon</a>. For only $3/month you'll get access to a print-friendly PDF of my notes for each new lesson <span class="smaller">(<a href="/downloads">view free sample</a>)</span>.</p>

  <p>Thanks!</p>

  <hr />
  <h2>Subscribe to my YouTube channel</h2>
  <p>Be sure to never miss a lesson by subscribing on YouTube. I put out 2-3 new videos every week. These include full song lessons, as well as covers, practice tips, behind-the-scenes updates. Thanks!</p>

  <script src="https://apis.google.com/js/platform.js"></script>
  <div class="g-ytsubscribe" data-channel="playsongnotes" data-layout="full" data-count="default"></div>


  <hr />

<h2>Recent video lessons:</h2>
{% include print-friendly-lessons-available.html %}
{% include latest-uploads.html %}



    <hr />
    <p><a href="/">&larr; back to lesson list</a></p>

    <br />
  </div>

</div>



</article>
