---
layout: default
---
<article>


  <!-- Title -->
  <div style="box-shadow: 0px 2px 5px rgba(0,0,0,0.1); background: #fff;">
    <div class="container clearfix" style="padding-top: 15px; padding-bottom: 6px">
      <span class="smaller right"><a class="gray block uppercase letter-spacing-1" style="background: #eee; padding: 8px 16px; border-radius: 16px;" href="https://paypal.me/songnotes">Tip jar</a></span>
      <a href="/" class="block left"><img width="150" src="{{site.baseurl}}/images/logo/songnotes-logo-horizontal.svg" /></a>
    </div>
  </div>

<div class="container ptl">
  <p class="h2 mbn">Guitar lesson for</p>
  <h1 class="mtn mbn">{{ page.title | escape }}</h1>
  <p style="border-bottom: 1px solid #ddd; padding-bottom: 12px;" class="h2 mtn">by <span>{{ page.artist | escape }}</span></p>




  <!-- Content -->
  {{ content }}

  <hr />
  <h2>Enjoy this lesson? Make a donation!</h2>
  <p class="">If this and my other lessons have proven helpful to you, please consider <a class="underline bold" href="https://paypal.me/songnotes">donating to my tip jar</a>. Contributions help make this project possible (including the many, many hours I put into it). Thanks!</p>

  </div>

<div class="mtxl ptxl" style="box-shadow: 0px -2px 5px rgba(0,0,0,0.1); background: #fff;">
  <div class="container">

  {% include mailchimp.html %}


    <hr />
    <p><a href="/">&larr; back to lesson list</a></p>

    <br />
  </div>

</div>



</article>
