// Header styling

    // Sticky header via https://css-tricks.com/fixed-headers-on-page-links-and-overlapping-content-oh-my/

    $top-spacing-desktop: 102px;
    $top-spacing-mobile: 61px;

    @media only screen and (max-width: 750px) {
      html { scroll-padding-top: $top-spacing-mobile; }
      body { margin-top: $top-spacing-mobile; }
    }
    @media only screen and (min-width: 751px) {
      html { scroll-padding-top: $top-spacing-desktop; }
      body { margin-top: $top-spacing-desktop; }
    }

    .header {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 99;
    }

    /* ---- */

    .header-top {
      height: 60px;
      background: $nav-bg-blue;
    }
    #header-search-input::placeholder {
      opacity: 1;
      color: rgba(255,255,255,0.3);
    }

    @media only screen and (max-width: 750px) {
      .header--desktop { display: none; }

        .header--mobile h4 {
          margin: 0 0 12px 0;
        }
        .header-top {
        }
        .header-bottom {
          display: none;
          background: white;
          border-bottom: 1px solid #ddd;
        }
        .header-logo {
          padding: 8px 0 10px;
          display: block;
          float: left;
          img {
            width: 180px;
            height: 49px;
          }
        }
        .header-nav-expand {
          background: url(/images/icons/menu.svg) 12px center no-repeat;
          background-size: 14px;
          float: right;
          margin-left: 12px;
          display: block;
          border: 1px solid #fff;
          color: #fff;
          height: 36px;
          line-height: 34px;
          overflow: hidden;
          border-radius: 4px;
          margin-top: 12px;
          padding: 0 16px 0 36px;
          text-decoration: none;
          font-weight: 700;
          &.header-nav-expand--opened {
            background-image: url(/images/icons/close.svg);
          }
        }
        .header-search-icon {
          float: right;
          height: 36px;
          width: 36px;
          display: inline-block;
          padding-top: 10px;
          img {
            display: inline-block;
            vertical-align: center;
          }
        }
        /* -- */
        #header-search {
          margin: 16px 0;
        }
        #header-search-input {
          height: 44px;
          display: block;
          line-height: 46px;
          font-size: 16px;
          padding: 0 8px 0 40px;
          border-radius: 4px;
          color: #333;
          background: #fff url(/images/icons/search-passive.svg) 8px center no-repeat;
          background-size: 24px;
          border: 2px solid #B7BCCB;
          width: 100%;

        }
        #header-search-input:focus {
          border-color: $link-color;
          background-image: url(/images/icons/search-active.svg);
          outline: none;
        }
        .header-nav-links {
          list-style: none;
          margin: 0;
          padding: 0;
        }
        .header-nav-links li a {
          display: block;
          border-top: 1px solid #ddd;
          text-decoration: none;
          line-height: 48px;
          color: #2953CD;
          font-weight: bold;
        }
        .header-nav-links li:last-child a {
          border-bottom: 1px solid #ddd;
        }
        .header-nav-links li li:last-child a {
          border-bottom: none;
        }
        .header-nav-links .header-nav-links--subnav {
          margin: 0;
          display: none;
        }
        /*--*/
        .header-cta {
          display: block;
          background: #FDCF58;
          color: #000;
          height: 44px;
          line-height: 44px;
          overflow: hidden;
          border-radius: 4px;
          margin-top: 12px;
          margin-bottom: 16px;
          padding: 0 16px;
          text-decoration: none;
          font-weight: bold;
          text-align: center;
        }
        /*--- */
        .header-social-links {
          list-style: none;
          margin: 0 0 16px 0;
          padding: 0;
        }
        .header-social-links li {
          float: left;
          margin-right: 12px;
        }
        .header-social-links li a {
          opacity: 50%;
        }
        .header-social-links li a:hover {
          opacity: 100%;
        }
        /* -- */
        .header-sublinks a {
          color: #333;
        }
    }

    @media only screen and (min-width: 751px) {
      .header--mobile { display: none; }

        .header-top {
          height: 52px;
        }
        .header-top .header-top-container-buffer {
          border-bottom: 1px solid #2C4C68;
        }
        .header-bottom {
          min-height: 50px;
          background: $nav-bg-blue;
          // background: rgba(255,255,255,0.9);
          // -webkit-backdrop-filter: blur(10px);
          // border-bottom: 1px solid #ddd;
        }
        /* -- */
        .header-logo {
          width: 283px;
          height: 51px;
          display: block;
          padding: 5px 0 15px;
          float: left;
        }
        /* -- */
        #header-search {
          float: right;
          margin-top: 9px;
        }
        #header-search-input {
          height: 32px;
          line-height: 34px;
          font-size: 14px;
          padding: 0 8px 0 40px;
          border-radius: 4px;
          width: 210px;
          color: #ddd;
          background: $nav-bg-blue-semidark url(/images/icons/search.svg) 8px center no-repeat;
        }
        #header-search-input:focus {
          border: none;
          outline: none;
        }
        /*---*/
        .header-cta {
          float: right;
          margin-left: 12px;
          display: block;
          background: #FDCF58;
          color: #000;
          height: 32px;
          line-height: 34px;
          overflow: hidden;
          border-radius: 4px;
          margin-top: 9px;
          padding: 0 16px;
          text-decoration: none;
          font-weight: 700;
        }
        /* -- */
        .header-nav-links {
          list-style: none;
          margin: 0;
          padding: 0;
          float: left;
        }
        .header-nav-links > li {
          float: left;
          margin-right: 28px;
          position: relative;
        }
        .header-nav-links > li > a {
          display: block;
          height: 50px;
          line-height: 52px;
          text-decoration: none;
          color: #FDCF58;
          font-size: 13px;
          text-transform: uppercase;
          font-weight: 700;
          &:hover {
            text-decoration: underline;
          }
        }
        /*----*/
        .header-nav-links > li > a.has-subnav--open {
          background: url(/images/icons/caret-up-gold.svg) no-repeat right 52%;
          background-size: 12px 12px;
          padding-right: 20px;
        }
        .header-nav-links > li > a.has-subnav--closed {
          background: url(/images/icons/caret-down-gold.svg) no-repeat right 52%;
          background-size: 12px 12px;
          padding-right: 20px;
        }
        .header-nav-links--subnav {
          display: none;
          position: absolute;
          min-width: 220px;
          top: 64px;
          left: -16px;
          background: #fff;
          list-style: none;
          padding: 0;
          border-radius: 4px;
          overflow: hidden;
          box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
          border: 1px solid #ccc;
          z-index: 1;
        }
        .header-nav-links--subnav > li > a {
          text-decoration: none;
          color: #000;
          font-size: 16px;
          font-weight: 600;
          display: block;
          padding: 14px 18px 15px;
          border-bottom: 1px solid #ccc;
        }
        .header-nav-links--subnav > li > a:hover {
          background: lighten($link-color, 55%);
          color: $link-color;
        }
        .header-nav-links--subnav > li:last-child a {
          border-bottom: none;
        }

        /*----*/
        .header-social-links {
          float: right;
          list-style: none;
          margin: 0;
          padding: 0;
        }
        .header-social-links li {
          float: left;
          margin-left: 12px;
          margin-top: 16px;
        }
        .header-social-links li a {
          opacity: 50%;
        }
        .header-social-links li a:hover {
          opacity: 100%;
        }

    }
