.tile {
  border-radius: 6px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.08);
}

// Universal

        .tile-media a {
          display: block;
          border-radius: 4px;
          overflow: hidden;
          img {
            width: 100%;
            display: block;
          }
        }
        .tile-title {
          margin: 0 0 4px 0;
          padding: 0;
          a {
            color: $color-black;
            text-decoration: none;
            font-size: 18px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .tile-meta {
          font-size: 13px;
          color: $color-gray;
          margin: 0 0 4px 0;
          a {
            color: $color-gray;
          }
        }
        .tile-description {
          font-size: 13px;
          margin: 0 0 8px 0;
        }
        .tile-badge {
          margin: 8px 0 0 0;
        }















.tile-wrapper {
  text-align: center;
}

// Tile - Portrait

.tile.tile-portrait {
  padding: 0 16px 16px;
}

// Tile - Landscape

.tile.tile-landscape {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  background: none;
  box-shadow: none;
  border-radius: none;
  margin-right: 18px;
  max-width: 290px;
  margin-bottom: 48px;
  .tile-head p {
    font-size: 13px;
    color: $color-gray;
    margin: 0 0 6px 0;
  }
  .tile-body {
    padding: 8px 0 0 0;
    position: relative;
  }
}

      @media only screen and (max-width: 750px) {
        .tile.tile-landscape {
          max-width: 100%;
          margin-right: 0;
          margin-bottom: 48px;
        }
      }



// Tile - Wide

.tile.tile-wide {
  padding: 16px;
}


.tile.tile-wide {
  margin: 0 0 8px 0;
  padding: 0;
  list-style: none;
  position: relative;
  min-height: 120px;
}

    @media only screen and (max-width: $breakpoint--mobile) {
      .tile.tile-wide {
        min-height: 100px;
      }
    }

.tile.tile-wide .tile-media {
  position: absolute;
  left: 12px;
  top: 12px;
  background-repeat: no-repeat;
  background-size: 166px 94px;
  width: 166px; height: 94px;
}

    @media only screen and (max-width: $breakpoint--mobile) {
      .tile.tile-wide .tile-media {
        background-size: 110px 62px;
        width: 110px; height: 62px;
      }
    }

.tile.tile-wide .tile-body {
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
}

.tile.tile-wide .tile-title {
  margin-top: 2px;
  margin-bottom: 4px;
  margin-left: 178px;
}

    @media only screen and (max-width: $breakpoint--mobile) {
      .tile.tile-wide .tile-title {
        margin-top: 0px;
        margin-bottom: 2px;
        margin-left: 122px;
        a {
          font-size: 16px;
        }
      }
    }

.tile.tile-wide .tile-meta {
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 178px;
}

    @media only screen and (max-width: $breakpoint--mobile) {
      .tile.tile-wide .tile-meta {
        font-size: 12px;
        margin-bottom: 0px;
        margin-left: 122px;
      }
    }

.tile.tile-wide .tile-badge {
  margin-left: 178px;
}

    @media only screen and (max-width: $breakpoint--mobile) {
      .tile.tile-wide .tile-badge {
        margin-left: 122px;
        margin-top: 4px;
      }
    }

// ---- PRINTABLE TILE ----

.printable_tile_wrapper {
  text-align: center;
}
.printable_tile {
  display: inline-block;
  width: 188px;
  margin: 0 21px;
  text-align: center;
  vertical-align: top;
  margin-bottom: 48px;
}
.printable_tile a {
  text-decoration: none;
  transition: all .2s ease-in-out;
  display: block;
}
.printable_tile a:hover .printable_tile--title {
  // text-decoration: underline;
}
.printable_tile a:hover .printable_tile--sheet {
  box-shadow: 0px 8px 32px rgba(0,0,0,0.2);
}
.printable_tile a:hover {
  transform: scale(1.05);
}
.printable_tile--sheet {
  border: 3px solid white;
  border-radius: 3px;
  box-shadow: 0px 4px 24px rgba(0,0,0,0.1);
  background-repeat: no-repeat;
  width: 100%;
  height: 245px;
  background-size: cover;
  margin-bottom: 12px;
  transition: all .2s ease-in-out;
}
.printable_tile--title {
  font-size: 14px;
  margin-bottom: 8px;
}
.printable_tile--meta {
  font-size: 12px;
  color: $color-gray;
}
