//  ----------------------------------------------------------------------------
//  Type Variables
//  ----------------------------------------------------------------------------

        $font-family--default:    'Gantari', sans-serif;
        $font-family--narrow:     'IBM Plex Sans Condensed', sans-serif;
        $font-family--monospace:  Consolas, Courier, monospace;

        $font-weight--normal:     300;
        $font-weight--strong:     700;

        $font-size--xxxlarge:     2.5rem;
        $font-size--xxlarge:      2rem;
        $font-size--xlarge:       1.25rem;
        $font-size--large:        1.15rem;
        $font-size--normal:       1rem;
        $font-size--small:        .875rem;
        $font-size--xsmall:       .750rem;

        $line-height--normal:     1.4;
        $line-height--heading:    1.25;

//  ----------------------------------------------------------------------------
//  General
//  ----------------------------------------------------------------------------

        body {
          color:       $font-color--default;
          font-family: $font-family--default;
          font-size:   $font-size--normal;
          font-weight: $font-weight--normal;
          line-height: $line-height--normal;
          -webkit-text-size-adjust: 100%;
          background: #fafbfe;
        }

        a {
          color: $link-color;
          // text-decoration: none;
          // border-bottom: 1px solid $link-color;
        }

        // Default element spacing
        p,ol,ul,dl,table,hr,pre {
          margin-top:    0;
          margin-bottom: $space--medium;
        }

        // Headings
        h1,h2,h3,h4,h5,h6 {
          font-weight:   bold;
          color:         $font-color--strong;
          font-weight:   $font-weight--strong;
          margin-top:    $space--medium;
          margin-bottom: $space--medium;
        }

        sup {
          font-size: 0.75em;
          line-height: 0.5em;
          vertical-align: baseline;
          position: relative;
          top: -0.3em;
          left: 1px;
        }

//  ----------------------------------------------------------------------------
//  Size & scale
//  ----------------------------------------------------------------------------

        .h0 {
          font-size: $font-size--xxxlarge;
          line-height:   $line-height--heading;
        }

        h1, .h1 {
          font-size: $font-size--xxxlarge;
          line-height:   $line-height--heading;
        }

        h2, .h2 {
          font-size: $font-size--xlarge;
          margin-top: 42px;
          span {
            font-weight: normal;
            color: $color-gray-light;
            font-size: $font-size--normal;
            padding-left: 4px;
          }
        }

        h3, .h3 {
          font-size: $font-size--normal;
        }

        h4, .h4 {
          font-size: 12px;
          color: #9EAFBE;
          text-transform: uppercase;
        }

        h5, .h5 {
          font-size: $font-size--normal;
        }

        h6, .h6 {
          font-size: $font-size--normal;
        }

        .small    { font-size: $font-size--small; }
        .smaller  { font-size: $font-size--xsmall; }

        .large { font-size: $font-size--large; }

//  ----------------------------------------------------------------------------
//  Lists
//  ----------------------------------------------------------------------------

        ul, ol {
          padding-left: 2rem;
        }

//  ----------------------------------------------------------------------------
//  Monospace & code
//  ----------------------------------------------------------------------------

        pre, code, samp {
          font-family: $font-family--monospace;
          font-size: $font-size--small;
        }

        pre, samp {
          overflow: auto;
          padding: 32px;
          box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
          border-radius: 4px;
          // display: inline-block;
          background: #fff;
        }

//  ----------------------------------------------------------------------------
//  Misc. generic elements
//  ----------------------------------------------------------------------------

        // Horizontal rules
        hr {
          border: 0;
          height: 0;
          border-top: 1px solid $gray-light;
          margin-top: $space--xlarge;
          margin-bottom: $space--xlarge;
        }

        em, .italic {
          font-style: italic;
        }

        // Blockquotes
        // ...

        figcaption {
          text-align: center;
          font-size: 14px;
          font-style: italic;
          margin: 8px 0 32px;
          color: #888;
        }

//  ----------------------------------------------------------------------------
//  Utility classes
//  ----------------------------------------------------------------------------

        strong,
        .strong,
        .bold           { font-weight: bold; }
        .weak           { color: $gray-light; }
        .narrow         { font-family: $font-family--narrow; }
        .normal         { font-weight: $font-weight--normal; }
        .mono           { font-family: $font-family--monospace; }
        .italic         { font-style: italic; }
        .caps           { text-transform: uppercase; }
        .underline      { text-decoration: underline; }

        .font-default   { font-family: $font-family--default; }
        .font-monospace { font-family: $font-family--monospace; }

        .center         { text-align: center; }
        .align-right    { text-align: right; }
