//  ----------------------------------------------------------------------------
//  Song Notes branding colors
//  ----------------------------------------------------------------------------

        $color-pdf-song: #DDF0FD;
        $color-pdf-song--border: #C5D9EB;

        $color-pdf-song--icon: #A3B6C0;

        $color-pdf-patreon: #FEF4BD;
        $color-pdf-patreon--border: #F2E6AB;
        $color-pdf-patreon--icon: #CCC085;


        $color-black: #222;
        $color-gray: #999;









/** ---- everything below is old / before 2021 ----- **/

        $font-color--default:     $gray;
        $font-color--strong:      $gray-dark;
        $font-color--weak:        $gray-light;

        $link-color:              $blue;




//  ----------------------------------------------------------------------------
//  Spacing & Breakpoints
//  ----------------------------------------------------------------------------

        // Default whitespace unit
        $space: 1rem;

        // Breakpoints
        $breakpoint--mobile: 42em; // 512px
        $breakpoint--desktop: 48em; // 960px

        // Grid
        $grid--max-width: 60rem; // 864px
        $grid--gutter: 1.5 * $space;

        // Spacing (for margin & padding)
        $space--xxxlarge:       5rem;
        $space--xxlarge:        4rem;
        $space--xlarge:         2.5rem;
        $space--large:          1.25rem;
        $space--medium:         1rem;
        $space--small:          .5rem;
        $space--xsmall:         .25rem;
        $space--xxsmall:        .125rem;
        $space--none:           0rem;

//  ----------------------------------------------------------------------------
//  Borders
//  ----------------------------------------------------------------------------

        $border-color:  $gray;
        $border-width:  1px;
        $border-radius: .25rem;
