//  ----------------------------------------------------------------------------
//  Type
//  ----------------------------------------------------------------------------

        $font-family--default:    "avenir-next-regular", Helvetica, sans-serif;
        $font-family--bold:       "avenir-next-bold", Helvetica, sans-serif;
        $font-family--monospace:  Consolas, Courier, monospace;

        $font-weight--normal:     400;
        $font-weight--strong:     700;

        $font-size--xxxlarge:     2.5rem;
        $font-size--xxlarge:      2rem;
        $font-size--xlarge:       1.5rem;
        $font-size--large:        1.25rem;
        $font-size--normal:       1rem;
        $font-size--small:        .875rem;
        $font-size--xsmall:       .750rem;

        $line-height--normal:     1.4;
        $line-height--heading:    1.25;

        $font-color--default:     $gray;
        $font-color--strong:      $gray-dark;
        $font-color--weak:        $gray-light;

        $link-color:              $blue;

//  ----------------------------------------------------------------------------
//  Spacing & Breakpoints
//  ----------------------------------------------------------------------------

        // Default whitespace unit
        $space: 1rem;

        // Breakpoints
        $breakpoint--mobile: 42em; // 512px
        $breakpoint--desktop: 48em; // 960px

        // Grid
        $grid--max-width: 54rem; // 864px
        $grid--gutter: 1.5 * $space;

        // Spacing (for margin & padding)
        $space--xxxlarge:       5rem;
        $space--xxlarge:        4rem;
        $space--xlarge:         2.5rem;
        $space--large:          1.25rem;
        $space--medium:         1rem;
        $space--small:          .5rem;
        $space--xsmall:         .25rem;
        $space--xxsmall:        .125rem;
        $space--none:           0rem;

//  ----------------------------------------------------------------------------
//  Borders
//  ----------------------------------------------------------------------------

        $border-color:  $gray;
        $border-width:  1px;
        $border-radius: .25rem;
